1-40 ESP32-CAM/node-red.txt
[{"id":"d69bbd3a.23ba4","type":"mqtt in","z":"e629f70f.0b3b98","name":"","topic":"/picture","qos":"0","datatype":"auto","broker":"7dd3826b.67994c","x":130,"y":200,"wires":[["960c95d8.9a4ad8","c7365eb2.88f83"]]},{"id":"e7bf5019.0ba77","type":"mqtt out","z":"e629f70f.0b3b98","name":"","topic":"TakeAPicture","qos":"0","retain":"false","broker":"7dd3826b.67994c","x":310,"y":120,"wires":[]},{"id":"b0e916d2.f3e808","type":"mqtt out","z":"e629f70f.0b3b98","name":"","topic":"JSONConfig","qos":"0","retain":"false","broker":"7dd3826b.67994c","x":330,"y":60,"wires":[]},{"id":"9ff7ba2d.b491b8","type":"inject","z":"e629f70f.0b3b98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":60,"wires":[["b0e916d2.f3e808"]]},{"id":"960c95d8.9a4ad8","type":"base64","z":"e629f70f.0b3b98","name":"","action":"","property":"payload","x":320,"y":200,"wires":[["2cdc3e73.337fb2","4ebc3097.0fd45","6448ad98.d7cd14","e79214c3.cf9728"]]},{"id":"2cdc3e73.337fb2","type":"ui_template","z":"e629f70f.0b3b98","group":"3c5f13be.45d51c","name":"from 라즈베리","order":2,"width":"6","height":"6","format":"<img alt=\"HTTP Snap\" src=\"data:image/jpg;base64,{{msg.payload}}\" />\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":500,"y":200,"wires":[[]]},{"id":"8a89b0e2.dfdcd","type":"ui_button","z":"e629f70f.0b3b98","name":"","group":"3c5f13be.45d51c","order":2,"width":0,"height":0,"passthru":false,"label":"사진찍기","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":120,"wires":[["e7bf5019.0ba77"]]},{"id":"c7365eb2.88f83","type":"image","z":"e629f70f.0b3b98","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":720,"y":120,"wires":[]},{"id":"6448ad98.d7cd14","type":"file","z":"e629f70f.0b3b98","name":"","filename":"e:/test.jpeg","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"base64","x":490,"y":300,"wires":[[]]},{"id":"e2016ee7.00d5","type":"mongodb2 in","z":"e629f70f.0b3b98","service":"_ext_","configNode":"cc902054.67422","name":"","collection":"","operation":"","x":670,"y":340,"wires":[[]]},{"id":"e79214c3.cf9728","type":"function","z":"e629f70f.0b3b98","name":"findOneAndUpdate","func":"var time = new Date().toLocaleString('en-US', { timeZone: 'Asia/Seoul' });\nvar newMsg = {};\nnewMsg.collection = 'localRecord';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'email' : 'kdi6033@gmail.com','type':2}, {$set:{ 'picture':msg.payload, 'time':time}} ];\nnewMsg.projection = { 'email' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":510,"y":340,"wires":[["e2016ee7.00d5"]]},{"id":"4ebc3097.0fd45","type":"file","z":"e629f70f.0b3b98","name":"","filename":"e:/test.txt","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"ascii","x":480,"y":260,"wires":[[]]},{"id":"96125e7e.e24af","type":"comment","z":"e629f70f.0b3b98","name":"이미지 저장","info":"","x":490,"y":380,"wires":[]},{"id":"50504912.ac46c8","type":"file in","z":"e629f70f.0b3b98","name":"","filename":"e:/test.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"binary","x":320,"y":460,"wires":[["bd7acef6.b3fa8"]]},{"id":"bd7acef6.b3fa8","type":"image","z":"e629f70f.0b3b98","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":500,"y":460,"wires":[]},{"id":"8a25cece.94595","type":"inject","z":"e629f70f.0b3b98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":460,"wires":[["50504912.ac46c8"]]},{"id":"33c84a09.fadb26","type":"inject","z":"e629f70f.0b3b98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":514,"wires":[["d8ec2632.d991e8"]]},{"id":"b5ca3018.9a061","type":"template","z":"e629f70f.0b3b98","name":"Image in","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img src=\"data:image/png;base64,{{payload}}\"style=\"width=\"569\" height=\"197\"\"/>","output":"str","x":660,"y":514,"wires":[["747f49e5.866268"]]},{"id":"747f49e5.866268","type":"ui_template","z":"e629f70f.0b3b98","group":"85525767.cfb328","name":"RIO Logo","order":8,"width":"15","height":"15","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":800,"y":514,"wires":[[]]},{"id":"d8ec2632.d991e8","type":"file in","z":"e629f70f.0b3b98","name":"","filename":"e:/test.jpeg","format":"","chunk":false,"sendError":false,"encoding":"none","x":330,"y":514,"wires":[["ce9718c4.39abb8"]]},{"id":"ce9718c4.39abb8","type":"base64","z":"e629f70f.0b3b98","name":"","action":"","property":"payload","x":500,"y":514,"wires":[["b5ca3018.9a061"]]},{"id":"44e076a5.f1a638","type":"comment","z":"e629f70f.0b3b98","name":"이미지 보여줌","info":"","x":130,"y":407,"wires":[]},{"id":"2fa8154c.8ed3ea","type":"inject","z":"e629f70f.0b3b98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":594,"wires":[["98a3f9e8.3ebb48"]]},{"id":"98a3f9e8.3ebb48","type":"function","z":"e629f70f.0b3b98","name":"findOne","func":"var newMsg = {};\nnewMsg.collection = 'localRecord';\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = { 'email' : 'kdi6033@gmail.com','type':2};\nnewMsg.projection = { 'email' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":280,"y":594,"wires":[["8ea95a73.b73198"]]},{"id":"8ea95a73.b73198","type":"mongodb2 in","z":"e629f70f.0b3b98","service":"_ext_","configNode":"cc902054.67422","name":"","collection":"","operation":"","x":410,"y":594,"wires":[["c8b96dbd.9ed0a"]]},{"id":"c8b96dbd.9ed0a","type":"function","z":"e629f70f.0b3b98","name":"","func":"var newMsg={};\nnewMsg.payload=msg.payload.picture.toString();\nreturn newMsg;","outputs":1,"noerr":0,"x":530,"y":594,"wires":[["5ee12c32.839054","b5ca3018.9a061"]]},{"id":"5ee12c32.839054","type":"image","z":"e629f70f.0b3b98","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":700,"y":594,"wires":[]},{"id":"7dd3826b.67994c","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.17","port":"1883","tls":"509a45a9.089bbc","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3c5f13be.45d51c","type":"ui_group","name":"Group 1","tab":"79b75a5d.dfad34","order":1,"disp":true,"width":6},{"id":"cc902054.67422","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/admin","name":"admin","options":"","parallelism":""},{"id":"85525767.cfb328","type":"ui_group","z":"","name":"groov RIO","tab":"d98690fb.149aa","order":1,"disp":true,"width":"26","collapse":false},{"id":"509a45a9.089bbc","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"ea1ef80b73-certificate.pem.crt","keyname":"ea1ef80b73-private.pem.key","caname":"MtesCA.pem","servername":"","verifyservercert":true},{"id":"79b75a5d.dfad34","type":"ui_tab","z":"","name":"cameras","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"d98690fb.149aa","type":"ui_tab","z":"","name":"라즈베리","icon":"dashboard","order":4,"disabled":false,"hidden":false}]