1-16-2-1 mqtt_esp8266 - 복사본/node-red 소스프로그램.txt
[{"id":"cd240b83.241e28","type":"mqtt out","z":"d0a6a856.907258","name":"","topic":"/kdi/inTopic","qos":"0","retain":"false","broker":"89f47c17.f570b","x":310,"y":120,"wires":[]},{"id":"cf57fd09.ac565","type":"inject","z":"d0a6a856.907258","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"test","payloadType":"str","x":160.0034408569336,"y":119.52776908874512,"wires":[["cd240b83.241e28"]]},{"id":"676fc16c.9b4be","type":"mqtt in","z":"d0a6a856.907258","name":"","topic":"/kdi/outTopic","qos":"0","datatype":"auto","broker":"89f47c17.f570b","x":150,"y":200,"wires":[["8a0500fd.97105"]]},{"id":"8a0500fd.97105","type":"debug","z":"d0a6a856.907258","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":330,"y":200,"wires":[]},{"id":"89f47c17.f570b","type":"mqtt-broker","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"asdfg","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]