1-16-2-2 mqtt_esp8266/node-red 소스프로그램.txt
[{"id":"cd240b83.241e28","type":"mqtt out","z":"d0a6a856.907258","name":"","topic":"/kdi/inTopic","qos":"0","retain":"false","broker":"89f47c17.f570b","x":310,"y":160,"wires":[]},{"id":"cf57fd09.ac565","type":"inject","z":"d0a6a856.907258","name":"on","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"chipid\":\"29c790\",\"on\":1}","payloadType":"json","x":150,"y":160,"wires":[["cd240b83.241e28"]]},{"id":"676fc16c.9b4be","type":"mqtt in","z":"d0a6a856.907258","name":"","topic":"/kdi/outTopic","qos":"0","datatype":"auto","broker":"89f47c17.f570b","x":150,"y":260,"wires":[["8a0500fd.97105"]]},{"id":"8a0500fd.97105","type":"debug","z":"d0a6a856.907258","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":330,"y":260,"wires":[]},{"id":"9d00234a.b5472","type":"inject","z":"d0a6a856.907258","name":"off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"chipid\":\"29c790\",\"on\":0}","payloadType":"json","x":150,"y":200,"wires":[["cd240b83.241e28"]]},{"id":"2da4ba27.760896","type":"function","z":"d0a6a856.907258","name":"","func":"if(msg.payload==1)\n    msg.payload=\"{'chipid':'29c790','on':1}\";\nelse\n    msg.payload=\"{'chipid':'29c790','on':0}\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":100,"wires":[["cd240b83.241e28"]]},{"id":"aec32e9f.a5b3e","type":"ui_switch","z":"d0a6a856.907258","name":"","label":"switch","tooltip":"","group":"18b32f7c.6151c1","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":130,"y":100,"wires":[["2da4ba27.760896"]]},{"id":"89f47c17.f570b","type":"mqtt-broker","name":"","broker":"192.168.0.2","port":"1883","clientid":"asdfg","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"18b32f7c.6151c1","type":"ui_group","name":"Group 1","tab":"8ed96f73.f4293","order":1,"disp":true,"width":6},{"id":"8ed96f73.f4293","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]