1-31  TTL to RS485 i2r-01/1-31 node-red.txt
[{"id":"ca928c63.9be95","type":"serial out","z":"ab5a66ef.286278","name":"","serial":"99ce6396.e600f","x":329.0833549499512,"y":140.87502098083496,"wires":[]},{"id":"3f84f7b4.ab9908","type":"serial in","z":"ab5a66ef.286278","name":"","serial":"99ce6396.e600f","x":133.0833282470703,"y":68.96875762939453,"wires":[["810bc033.ea9f2"]]},{"id":"810bc033.ea9f2","type":"debug","z":"ab5a66ef.286278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":289.0729217529297,"y":69.5243148803711,"wires":[]},{"id":"90716540.328e78","type":"inject","z":"ab5a66ef.286278","name":"","topic":"","payload":"PC","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":158.07984161376953,"y":140.97223663330078,"wires":[["ca928c63.9be95"]]},{"id":"99ce6396.e600f","type":"serial-port","z":"","serialport":"COM3","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"300","bin":"false","out":"time","addchar":"false","responsetimeout":"1000"}]