1-26-4-11 AWS PLC Mqtt with Mac Address/1-26-4-11 node red program.txt
[{"id":"f1c68e3b.37e25","type":"tab","label":"Log in","disabled":false,"info":""},{"id":"920b9cd4.ff2e7","type":"http in","z":"f1c68e3b.37e25","name":"","url":"/login","method":"get","upload":false,"swaggerDoc":"","x":219,"y":148,"wires":[["838f7c8.ed1ab8"]]},{"id":"2d9b84cb.cc61cc","type":"http response","z":"f1c68e3b.37e25","name":"","statusCode":"","headers":{},"x":1033,"y":149,"wires":[]},{"id":"69ea63ad.8a5e7c","type":"comment","z":"f1c68e3b.37e25","name":"Log in","info":"","x":71,"y":148,"wires":[]},{"id":"234a02cf.54450e","type":"comment","z":"f1c68e3b.37e25","name":"회원가입","info":"","x":80,"y":340,"wires":[]},{"id":"c8882904.885248","type":"template","z":"f1c68e3b.37e25","name":"style","field":"payload.style","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"body {font-family: Arial, Helvetica, sans-serif;}\n\n/* Full-width input fields */\ninput[type=text], input[type=password] {\n  width: 100%;\n  padding: 12px 20px;\n  margin: 8px 0;\n  display: inline-block;\n  border: 1px solid #ccc;\n  box-sizing: border-box;\n}\n\n/* Set a style for all buttons */\nbutton {\n  background-color: #4CAF50; /*Green*/\n  color: white;\n  padding: 14px 20px;\n  margin: 8px 0;\n  border: none;\n  cursor: pointer;\n  width: 100%;\n}\n\n.button2 {background-color: #008CBA;} /* Blue */\n.button3 {background-color: #f44336;} /* Red */ \n.button4 {background-color: #e7e7e7; color: black;} /* Gray */ \n.button5 {background-color: #555555;} /* Black */\n.button20 {width: 20%;} \n.buttonOn {background-color:Lime; color:blue; width:20%;} \n.buttonOff {background-color:LightGrey; color:white; width:20%;} \n.buttonLedon {background-color:OrangeRed; color:blue; width:10%;} \n.buttonLedoff {background-color:LightGrey; color:white; width:10%;} \n\nbutton:hover {\n  opacity: 0.8;\n}\n\n/* Extra styles for the cancel button */\n.cancelbtn {\n  width: auto;\n  padding: 10px 18px;\n  background-color: #f44336;\n}\n\n/* Center the image and position the close button */\n.imgcontainer {\n  text-align: center;\n  margin: 24px 0 12px 0;\n  position: relative;\n}\n\nimg.avatar {\n  width: 40%;\n  border-radius: 50%;\n}\n\n.container {\n  padding: 16px;\n}\n\nspan.psw {\n  float: right;\n  padding-top: 16px;\n}\n\n/* The Modal (background) */\n.modal {\n  display: none; /* Hidden by default */\n  position: fixed; /* Stay in place */\n  z-index: 1; /* Sit on top */\n  left: 0;\n  top: 0;\n  width: 100%; /* Full width */\n  height: 100%; /* Full height */\n  overflow: auto; /* Enable scroll if needed */\n  background-color: rgb(0,0,0); /* Fallback color */\n  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */\n  padding-top: 60px;\n}\n\n/* Modal Content/Box */\n.modal-content {\n  background-color: #fefefe;\n  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */\n  border: 1px solid #888;\n  width: 80%; /* Could be more or less, depending on screen size */\n}\n\n/* The Close Button (x) */\n.close {\n  position: absolute;\n  right: 25px;\n  top: 0;\n  color: #000;\n  font-size: 35px;\n  font-weight: bold;\n}\n\n.close:hover,\n.close:focus {\n  color: red;\n  cursor: pointer;\n}\n\n/* Add Zoom Animation */\n.animate {\n  -webkit-animation: animatezoom 0.6s;\n  animation: animatezoom 0.6s\n}\n\n@-webkit-keyframes animatezoom {\n  from {-webkit-transform: scale(0)} \n  to {-webkit-transform: scale(1)}\n}\n  \n@keyframes animatezoom {\n  from {transform: scale(0)} \n  to {transform: scale(1)}\n}\n\n/* Change styles for span and cancel button on extra small screens */\n@media screen and (max-width: 300px) {\n  span.psw {\n     display: block;\n     float: none;\n  }\n  .cancelbtn {\n     width: 100%;\n  }\n}","x":477,"y":148,"wires":[["554c862f.7d4278"]]},{"id":"838f7c8.ed1ab8","type":"template","z":"f1c68e3b.37e25","name":"script","field":"payload.script","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"// Get the modal\nvar modal = document.getElementById('id01');\n\n// When the user clicks anywhere outside of the modal, close it\nwindow.onclick = function(event) {\n    if (event.target == modal) {\n        modal.style.display = \"none\";\n    }\n}","output":"str","x":352,"y":148,"wires":[["c8882904.885248"]]},{"id":"bed4c2fd.0a24","type":"template","z":"f1c68e3b.37e25","name":"modal","field":"payload.modal","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<button onclick=\"document.getElementById('id01').style.display='block'\" style=\"width:auto;\">Login</button>\n<button onclick=\"document.getElementById('id02').style.display='block'\" style=\"width:auto;\">회원가입</button>\n\n<div id=\"id01\" class=\"modal\">\n  \n  <form class=\"modal-content animate\" action=\"/login_act\" method=\"get\">\n    <div class=\"imgcontainer\">\n      <span onclick=\"document.getElementById('id01').style.display='none'\" class=\"close\" title=\"Close Modal\">&times;</span>\n      <img src=\"http://c.doowon.ac.kr/image/i2r_big.png\" alt=\"Avatar\" class=\"avatar\">\n    </div>\n\n    <div class=\"container\">\n      <label for=\"email\"><b>email</b></label>\n      <input type=\"text\" placeholder=\"Enter Username\" name=\"email\" required>\n      <label for=\"pw\"><b>Password</b></label>\n      <input type=\"password\" placeholder=\"Enter Password\" name=\"pw\" required>\n      <button type=\"submit\" >Login</button>\n    </div>\n\n    <div class=\"container\" style=\"background-color:#f1f1f1\">\n      <button type=\"button\" onclick=\"document.getElementById('id01').style.display='none'\" class=\"cancelbtn\">Cancel</button> <br>\n      비밀번호가 생각 않나면 새로 회원가입 해주세요. 데이터는 그대로이고 비밀번호만 새로 설정 됩니다.\n    </div>\n  </form>\n</div>\n\n<div id=\"id02\" class=\"modal\">\n  \n  <form class=\"modal-content animate\" action=\"/register_act\" method=\"get\">\n    <div class=\"imgcontainer\">\n      <span onclick=\"document.getElementById('id02').style.display='none'\" class=\"close\" title=\"Close Modal\">&times;</span>\n      <img src=\"http://c.doowon.ac.kr/image/i2r_big.png\" alt=\"Avatar\" class=\"avatar\">\n    </div>\n\n    <div class=\"container\">\n      <label for=\"email\"><b>email</b></label>\n      <input type=\"text\" placeholder=\"Enter Username\" name=\"email\" required>\n      <button type=\"submit\">회원가입</button>\n      비밀번호는 email로 전송해 드립니다.\n    </div>\n\n    <div class=\"container\" style=\"background-color:#f1f1f1\">\n      <button type=\"button\" onclick=\"document.getElementById('id02').style.display='none'\" class=\"cancelbtn\">Cancel</button>\n    </div>\n  </form>\n</div>","output":"str","x":764,"y":148,"wires":[["d04895d9.650c78"]]},{"id":"227bfb2a.0cae94","type":"http in","z":"f1c68e3b.37e25","name":"","url":"/register_act","method":"get","upload":false,"swaggerDoc":"","x":240,"y":338,"wires":[["b7dc364f.cc30b8"]]},{"id":"24578372.cd926c","type":"function","z":"f1c68e3b.37e25","name":"insert one","func":"var email=global.get(\"email\")||\"\";\nvar pw= Math.round(Math.random()*1000000);\nvar newMsg = {};\nnewMsg.collection = 'member';\nnewMsg.operation  = 'insert';\nnewMsg.payload    = { 'email' : email, 'pw':pw };\nreturn newMsg;","outputs":1,"noerr":0,"x":700,"y":338,"wires":[["39efb253.b8f6ae","a74aff4a.171c"]]},{"id":"b449fb65.16b648","type":"e-mail","z":"f1c68e3b.37e25","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"","dname":"","x":1010,"y":398,"wires":[]},{"id":"b7dc364f.cc30b8","type":"function","z":"f1c68e3b.37e25","name":"deleteMany","func":"global.set(\"msg_register_act\",msg);\nglobal.set(\"email\",msg.payload.email);\nvar newMsg = {};\nnewMsg.collection = 'member';\nnewMsg.operation  = 'deleteMany';\n//newMsg.operation  = 'deleteOne';\nnewMsg.payload    = { 'email' : msg.payload.email};\nnewMsg.projection = { 'email' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":410,"y":338,"wires":[["3755a554.a9f87a"]]},{"id":"a74aff4a.171c","type":"function","z":"f1c68e3b.37e25","name":"write email","func":"var email=global.get(\"email\")||\"\";\nmsg.to=email;\nmsg.payload=\"임시 비밀번호는 \"+msg.payload.pw+\" 입니다. 로그인 후 변경해 주세요.\";\nmsg.topic=\"임시 비밀번호 from 김동일\";\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":398,"wires":[["b449fb65.16b648"]]},{"id":"39efb253.b8f6ae","type":"mongodb2 in","z":"f1c68e3b.37e25","service":"_ext_","configNode":"8364b0aa.ebd7e","name":"등록","collection":"","operation":"","x":850,"y":338,"wires":[["1b6242bf.87bdfd"]]},{"id":"3755a554.a9f87a","type":"mongodb2 in","z":"f1c68e3b.37e25","service":"_ext_","configNode":"8364b0aa.ebd7e","name":"지우기","collection":"","operation":"","x":552,"y":338,"wires":[["24578372.cd926c"]]},{"id":"5ba8a4aa.c9c14c","type":"comment","z":"f1c68e3b.37e25","name":"","info":"https://myaccount.google.com/lesssecureapps?utm_source=google-account&utm_medium=web\n에서 보안 수준이 낮은 앱의 액세스를 허용","x":1133,"y":398,"wires":[]},{"id":"2fe31487.0c630c","type":"http in","z":"f1c68e3b.37e25","name":"","url":"/login_act","method":"get","upload":false,"swaggerDoc":"","x":238,"y":206,"wires":[["8f967ff8.2c556"]]},{"id":"8f967ff8.2c556","type":"function","z":"f1c68e3b.37e25","name":"global","func":"global.set(\"email\",msg.payload.email);\nglobal.set(\"pw\",msg.payload.pw);\nglobal.set(\"msg_login_act\",msg);\nreturn msg;","outputs":1,"noerr":0,"x":391,"y":206,"wires":[["858af84c.79fb48"]]},{"id":"858af84c.79fb48","type":"function","z":"f1c68e3b.37e25","name":"findOne","func":"var email=global.get(\"email\")||\"\";\nvar newMsg = {};\nnewMsg.collection = 'member';\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = { 'email' : email};\nnewMsg.projection = { 'email' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":521,"y":206,"wires":[["5b8846ee.398078"]]},{"id":"c0ac4f95.a0edb","type":"switch","z":"f1c68e3b.37e25","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":794,"y":206,"wires":[["82b899dc.5a9f98"],["affa4dd6.09b7"]]},{"id":"affa4dd6.09b7","type":"function","z":"f1c68e3b.37e25","name":"ID 존재","func":"var pw=global.get(\"pw\")||\"\";\nif(msg.payload.pw==pw) {\n    msg.payload=\"로그인 환영합니다.\";\n    return [msg,null];\n}\nelse {\n    msg.payload=\"pw 일치하지 않습니다. 회원가입 새로 하세요.\";\n    return [null,msg];\n}    \n","outputs":2,"noerr":0,"x":964,"y":246,"wires":[["396a786c.3ebcb8"],["59583a5b.5907e4"]]},{"id":"82b899dc.5a9f98","type":"function","z":"f1c68e3b.37e25","name":"ID 없음","func":"msg.payload=\"ID가 존재하지않습니다. 회원가입을 새로 하세요\";\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":199,"wires":[["59583a5b.5907e4"]]},{"id":"5b8846ee.398078","type":"mongodb2 in","z":"f1c68e3b.37e25","service":"_ext_","configNode":"8364b0aa.ebd7e","name":"회원 검색","collection":"","operation":"","x":661,"y":206,"wires":[["c0ac4f95.a0edb"]]},{"id":"490c7d21.3090b4","type":"template","z":"f1c68e3b.37e25","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <meta name='viewport' content='width=device-width, initial-scale=1.0'/>\n        <meta http-equiv='refresh' content='2; url=http://54.244.168.99:1880/login' method='get'> \n    </head>\n    <body>\n        <h1>{{ payload }}</h1>\n    </body>\n</html>","x":1390,"y":60,"wires":[["45da10af.766a5"]]},{"id":"45da10af.766a5","type":"http response","z":"f1c68e3b.37e25","name":"Go Login Page","statusCode":"","headers":{},"x":1541,"y":60,"wires":[]},{"id":"396a786c.3ebcb8","type":"function","z":"f1c68e3b.37e25","name":"login 성공","func":"var email=global.get(\"email\")||\"\";\nmsg2=email+\"님  \"+msg.payload;\nvar msg=global.get(\"msg_login_act\")||\"\";\nmsg.payload=msg2;\nmsg.cookies = { \"name\":email };\nreturn msg;","outputs":1,"noerr":0,"x":1124,"y":252,"wires":[["9a03f656.7c6a68"]]},{"id":"13118ce0.30a303","type":"comment","z":"f1c68e3b.37e25","name":"coockies 작성","info":"","x":1131,"y":290,"wires":[]},{"id":"696afa86.b8cb14","type":"template","z":"f1c68e3b.37e25","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <meta name='viewport' content='width=device-width, initial-scale=1.0'/>\n        <meta http-equiv='refresh' content='0; url=http://54.244.168.99:1880/main' method='get'> \n    </head>\n    <body>\n       </body>\n</html>","output":"str","x":1390,"y":120,"wires":[["1d6bcacf.039795"]]},{"id":"1d6bcacf.039795","type":"http response","z":"f1c68e3b.37e25","name":"Go Main Page","statusCode":"","headers":{},"x":1542,"y":120,"wires":[]},{"id":"59583a5b.5907e4","type":"function","z":"f1c68e3b.37e25","name":"ID or PW 없음","func":"var msg1=msg.payload;\nvar msg=global.get(\"msg_login_act\")||\"\";\nmsg.payload=msg1;\nreturn msg;","outputs":1,"noerr":0,"x":1138,"y":199,"wires":[["aeeeeb63.918df8"]]},{"id":"1b6242bf.87bdfd","type":"function","z":"f1c68e3b.37e25","name":"msg 받음","func":"var msg1=msg.payload;\nvar msg=global.get(\"msg_register_act\")||\"\";\nmsg.payload=msg1;\nreturn msg;","outputs":1,"noerr":0,"x":992,"y":337,"wires":[["a6cc9046.abdff"]]},{"id":"72f7ce62.28376","type":"http in","z":"f1c68e3b.37e25","name":"","url":"/main","method":"get","upload":false,"swaggerDoc":"","x":220,"y":578,"wires":[["7de74429.6810fc"]]},{"id":"7de74429.6810fc","type":"function","z":"f1c68e3b.37e25","name":"find.toArray","func":"global.set(\"msg_main\",msg);\nvar email = msg.req.cookies.name;\nmsg.collection = 'localRecord';\nmsg.operation  = 'find.toArray';\nmsg.payload    = { 'email' : email };\nmsg.projection = { 'name' : 1 , '_id' : 0 };\nreturn msg;","outputs":1,"noerr":0,"x":375,"y":578,"wires":[["b5623975.300718"]]},{"id":"b5623975.300718","type":"mongodb2 in","z":"f1c68e3b.37e25","service":"_ext_","configNode":"85ece3ef.17db3","name":"admin","collection":"","operation":"","x":515,"y":578,"wires":[["a3e47f87.2e9a4"]]},{"id":"f93d9a63.77c908","type":"http response","z":"f1c68e3b.37e25","name":"","statusCode":"","headers":{},"x":1352,"y":578,"wires":[]},{"id":"57558036.bcb4e","type":"comment","z":"f1c68e3b.37e25","name":"Main Page","info":"","x":77,"y":578,"wires":[]},{"id":"b5cca637.9409d8","type":"function","z":"f1c68e3b.37e25","name":"insert one","func":"var email = global.get(\"email\")||\"\";\nvar pw= global.get(\"pw\")||\"\";\nvar newMsg = {};\nnewMsg.collection = 'member';\nnewMsg.operation  = 'insert';\nnewMsg.payload    = { 'email' : email, 'pw':pw };\nreturn newMsg;\n","outputs":1,"noerr":0,"x":739,"y":467,"wires":[["d60ccae.1bdd938"]]},{"id":"18eeb5f5.d6d66a","type":"function","z":"f1c68e3b.37e25","name":"deleteMany","func":"global.set(\"msg_pw_change_act\",msg);\nvar email = msg.req.cookies.name;\nvar pw= msg.payload.pw;\nglobal.set(\"email\",email);\nglobal.set(\"pw\",pw);\nvar newMsg = {};\nnewMsg.collection = 'member';\nnewMsg.operation  = 'deleteMany';\n//newMsg.operation  = 'deleteOne';\nnewMsg.payload    = { 'email' : email};\nnewMsg.projection = { 'email' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":464,"y":467,"wires":[["4f0b1f45.1ae94"]]},{"id":"d60ccae.1bdd938","type":"mongodb2 in","z":"f1c68e3b.37e25","service":"_ext_","configNode":"8364b0aa.ebd7e","name":"등록","collection":"","operation":"","x":878,"y":467,"wires":[["40423506.aedabc"]]},{"id":"4f0b1f45.1ae94","type":"mongodb2 in","z":"f1c68e3b.37e25","service":"_ext_","configNode":"8364b0aa.ebd7e","name":"지우기","collection":"","operation":"","x":606,"y":467,"wires":[["b5cca637.9409d8"]]},{"id":"bc2447fc.e34618","type":"http in","z":"f1c68e3b.37e25","name":"","url":"/pw_change_act","method":"get","upload":false,"swaggerDoc":"","x":274,"y":467,"wires":[["18eeb5f5.d6d66a"]]},{"id":"80f666e8.319958","type":"comment","z":"f1c68e3b.37e25","name":"비밀번호 변경","info":"","x":88,"y":467,"wires":[]},{"id":"d04895d9.650c78","type":"template","z":"f1c68e3b.37e25","name":"login html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<style> {{{payload.style}}} </style>\n</head>\n<body>\n<h2>김동일</h2>\n<h2>4차산업혁명의 시작</h2>\n<h2>센서와 엑튜에이터를 크라우드컴퓨터 빅데이터에 연결</h2>\n{{{payload.modal}}}\n<script> {{{payload.script}}} </script>\n</body>\n</html>","output":"str","x":903,"y":149,"wires":[["2d9b84cb.cc61cc"]]},{"id":"aea8b1fc.7e2ca","type":"function","z":"f1c68e3b.37e25","name":"0,1,2,3 List","func":"msg.payload.style=global.get(\"style\");\nmsg.payload.script=global.get(\"script\");\nvar i;\nvar s;\nvar r;\nvar sOut=msg.req.cookies.name+ \"님이 보유하신 기기들 입니다. <br>\";\nfor(i=0;i<msg.payload.length;i++) {\n    r=\"<input type='hidden' name='chip' value='\"+msg.payload[i].chip+\"'>\";\n    s=\"\";\n    if(msg.payload[i].type==1) {\n        s=\"<form action='/switch_power' method='post'> 파워스위치(\"+msg.payload[i].chip+\") \"+msg.payload[i].name+r+\"&emsp; <button class='button button10' name='on' value='0' >On</button>  <button class='button button10' name='on' value='1' >Off</button> </form>\";\n    }\n    else if(msg.payload[i].type==2) {\n        s=\"<form action='/switch_motion' method='post'> 인체감지스위치(\"+msg.payload[i].chip+\") \"+msg.payload[i].name+\"  지연시간(분)\"+r+\" &emsp;<input style='width:100px;' type='text' name='delay' value='5'> &emsp;\"+\"<button class='button button10' type='submit'>저장</button> </form>\";\n    }\n        if(msg.payload[i].type == 3) {\n        s=\" 삼상전압전류(\"+msg.payload[i].chip + \")&emsp;\"+msg.payload[i].name+\"&emsp; 전압 : \" + msg.payload[i].v[0]+\", \"+ msg.payload[i].v[1]+\", \"+ msg.payload[i].v[2]+\"  전류 : \" + msg.payload[i].i[0]+\", \"+ msg.payload[i].i[1]+\", \"+ msg.payload[i].i[2];\n    }\n    sOut=sOut+s+\"<br>\";\n}    \nmsg.payload.list=sOut;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":578,"wires":[["b7d64b2e.f6cf28"]]},{"id":"18c892cd.384acd","type":"template","z":"f1c68e3b.37e25","name":"modal","field":"payload.modal","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<button onclick=\"document.getElementById('id01').style.display='block'\" style=\"width:auto;\">비밀번호변경</button>\n<button onclick=\"document.getElementById('id02').style.display='block'\" style=\"width:auto;\">기기등록/삭제</button>\n<button class=\"button button2\" onclick=\"window.location.href = '/logout';\" style=\"width:auto;\">Log out</button> <br>\n\n<div id=\"id01\" class=\"modal\">\n  <form class=\"modal-content animate\" action=\"/pw_change_act\" method=\"get\">\n    <div class=\"imgcontainer\">\n      <span onclick=\"document.getElementById('id01').style.display='none'\" class=\"close\" title=\"Close Modal\">&times;</span>\n      <img src=\"http://c.doowon.ac.kr/image/i2r_big.png\" alt=\"Avatar\" class=\"avatar\">\n    </div>\n    \n    <div class=\"container\">\n      <label for=\"pw\"><b>Password</b></label>\n      <input type=\"password\" placeholder=\"Enter Password\" name=\"pw\" required>\n      <button type=\"submit\">비밀번호 변경</button>\n    </div>\n\n    <div class=\"container\" style=\"background-color:#f1f1f1\">\n      <button type=\"button\" onclick=\"document.getElementById('id01').style.display='none'\" class=\"cancelbtn\">Cancel</button>\n    </div>\n  </form>\n</div>\n\n<div id=\"id02\" class=\"modal\">\n  <form class=\"modal-content animate\" action=\"/machine_register\" method=\"get\">\n    <div class=\"imgcontainer\">\n      <span onclick=\"document.getElementById('id02').style.display='none'\" class=\"close\" title=\"Close Modal\">&times;</span>\n    </div>\n\n   <div class=\"container\">\n        맥어드레스는 기기에 표시되어 있습니다. <br>\n        <input type=\"text\" placeholder=\"Enter mac address\" name=\"chip\" required>\n        <input type=\"text\" placeholder=\"Enter name\" name=\"name\" required>\n        기기 종류를 선택하세요.\n        <select class=\"container\" name='type'>\n            <option value=\"0\">LS산전PLC MASTER-K 120S</option>    \n            <option value=\"1\">파워스위치(참빛파워텍)</option>\n            <option value=\"2\">인체감지 스위치(참빛파워텍)</option>\n            <option value=\"3\">삼상전압전류측정(참빛파워텍)</option>\n        </select><br>\n      <button name='regi' value='1' style=\"width:auto;\" class=\"button\">등록</button> &emsp; \n      <button name='regi' value='2' style=\"width:auto;\" class=\"button\">삭제</button> &emsp;\n      <button type=\"button\" onclick=\"document.getElementById('id02').style.display='none'\" class=\"cancelbtn\" >Cancel</button>\n    </div>\n  </form>\n</div>\n\n\n","output":"str","x":778,"y":578,"wires":[["aea8b1fc.7e2ca"]]},{"id":"da7d48d8.5fe468","type":"template","z":"f1c68e3b.37e25","name":"Main html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<style> {{{payload.style}}} </style>\n</head>\n<body>\n<h2>4차산업혁명의 시작</h2>\n{{{payload.modal}}}\n{{{payload.list}}}\n{{{payload.plc}}}\n<script> {{{payload.script}}} </script>\n</body>\n</html>","output":"str","x":1222,"y":578,"wires":[["f93d9a63.77c908"]]},{"id":"40423506.aedabc","type":"function","z":"f1c68e3b.37e25","name":"msg 받음","func":"var msg1=msg.payload;\nvar msg=global.get(\"msg_pw_change_act\")||\"\";\nmsg.payload=msg1;\nreturn msg;","outputs":1,"noerr":0,"x":1003,"y":467,"wires":[["67829cb7.344734"]]},{"id":"b93bbc46.4fdd6","type":"http in","z":"f1c68e3b.37e25","name":"","url":"/logout","method":"get","upload":false,"swaggerDoc":"","x":228,"y":528,"wires":[["8b3934e4.f64928"]]},{"id":"8b3934e4.f64928","type":"function","z":"f1c68e3b.37e25","name":"Clear cookies","func":"// Find demo cookies and clear them\nvar cookieNames = Object.keys(msg.req.cookies).filter(function(cookieName) { return /^demo-/.test(cookieName);});\nmsg.cookies = {};\n\ncookieNames.forEach(function(cookieName) {\n    msg.cookies[cookieName] = null;\n});\n\nreturn msg;","outputs":1,"noerr":0,"x":398,"y":528,"wires":[["4dccdb00.4eca14"]]},{"id":"4dccdb00.4eca14","type":"template","z":"f1c68e3b.37e25","name":"Go Login","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<meta http-equiv='refresh' content='0; url=http://54.244.168.99:1880/login' method='get'> \n</html>","x":560,"y":528,"wires":[["a0ebc0cc.9bafb"]]},{"id":"a0ebc0cc.9bafb","type":"http response","z":"f1c68e3b.37e25","name":"","statusCode":"","headers":{},"x":690,"y":528,"wires":[]},{"id":"c066b05a.c352f","type":"comment","z":"f1c68e3b.37e25","name":"logout","info":"","x":69,"y":528,"wires":[]},{"id":"a3e47f87.2e9a4","type":"function","z":"f1c68e3b.37e25","name":"msg 받음","func":"var msg1=msg.payload;\nvar msg=global.get(\"msg_main\")||\"\";\nmsg.payload=msg1;\nreturn msg;","outputs":1,"noerr":0,"x":646,"y":578,"wires":[["18c892cd.384acd"]]},{"id":"e1c19f04.a500c","type":"http in","z":"f1c68e3b.37e25","name":"","url":"/machine_register","method":"get","upload":false,"swaggerDoc":"","x":258,"y":628,"wires":[["6e8bb47c.ad572c"]]},{"id":"554c862f.7d4278","type":"function","z":"f1c68e3b.37e25","name":"global style","func":"global.set(\"style\",msg.payload.style);\nglobal.set(\"script\",msg.payload.script);\nreturn msg;","outputs":1,"noerr":0,"x":621,"y":148,"wires":[["bed4c2fd.0a24"]]},{"id":"5caeb63.8985448","type":"comment","z":"f1c68e3b.37e25","name":"기기등록","info":"","x":79,"y":628,"wires":[]},{"id":"6e8bb47c.ad572c","type":"function","z":"f1c68e3b.37e25","name":"delete","func":"global.set(\"msg_machine_register\",msg);\nvar newMsg = {};\nnewMsg.collection  = 'localRecord';\nnewMsg.operation  = 'deleteMany';\nnewMsg.payload    = { \"email\":msg.req.cookies.name, \"chip\":msg.payload.chip };\nnewMsg.projection = { 'email' : 1 , '_id' : 0 };\nreturn newMsg;\n","outputs":1,"noerr":0,"x":449,"y":628,"wires":[["7abf2c24.81cdd4"]]},{"id":"7abf2c24.81cdd4","type":"mongodb2 in","z":"f1c68e3b.37e25","service":"_ext_","configNode":"85ece3ef.17db3","name":"admin","collection":"","operation":"","x":579,"y":628,"wires":[["618e56ec.13fb08"]]},{"id":"618e56ec.13fb08","type":"function","z":"f1c68e3b.37e25","name":"insert or delete","func":"var msg=global.get(\"msg_machine_register\")||\"\";\nvar email = msg.req.cookies.name;\nvar type = parseInt(msg.payload.type);\nvar newMsg = {};\nif(msg.payload.regi==1) {\n    newMsg.collection = 'localRecord';\n    newMsg.operation  = 'insert';\n    if(msg.payload.type==0)\n        newMsg.payload    = { \"email\":email, \"chip\":msg.payload.chip, \"name\":msg.payload.name, \"type\":type, \"in\":[0,0,0,0,0,0], \"out\":[0,0,0,0]};\n    else if(msg.payload.type==1)\n        newMsg.payload    = { \"email\":email, \"chip\":msg.payload.chip, \"name\":msg.payload.name, \"type\":type, \"on\":0};\n    else if(msg.payload.type==2)\n        newMsg.payload    = { \"email\":email, \"chip\":msg.payload.chip, \"name\":msg.payload.name, \"type\":type, \"delay\":0};\n    else if(msg.payload.type==3)\n        newMsg.payload    = { \"email\":email, \"chip\":msg.payload.chip, \"name\":msg.payload.name, \"type\":type, \"v\":[0,0,0], \"i\":[0,0,0]};\n    newMsg.projection = { 'email' : 1 , '_id' : 0 };\n    return [newMsg,null];\n}\nelse\n    return [null,msg];\n","outputs":2,"noerr":0,"x":739,"y":628,"wires":[["c08dedb7.b8a8"],["10717363.d4bf9d"]]},{"id":"c08dedb7.b8a8","type":"mongodb2 in","z":"f1c68e3b.37e25","service":"_ext_","configNode":"85ece3ef.17db3","name":"db","collection":"","operation":"","x":898,"y":626,"wires":[["10717363.d4bf9d"]]},{"id":"10717363.d4bf9d","type":"function","z":"f1c68e3b.37e25","name":"msg 받음","func":"msg=global.get(\"msg_machine_register\")||\"\";\nreturn msg;","outputs":1,"noerr":0,"x":1038,"y":626,"wires":[["b9e01ef1.a3055"]]},{"id":"7645714d.fcca5","type":"http in","z":"f1c68e3b.37e25","name":"","url":"/plc_act","method":"get","upload":false,"swaggerDoc":"","x":230,"y":703,"wires":[["53c98a6c.a7acf4"]]},{"id":"53c98a6c.a7acf4","type":"function","z":"f1c68e3b.37e25","name":"findOneAndUpdate","func":"global.set(\"msg_plc_act\",msg);\nif(msg.payload.name=='in')\n    return [null,msg];\nelse {\n    if(msg.payload.out==1)\n        msg.payload.out=0;\n    else\n        msg.payload.out=1;\n    var newMsg = {};\n    newMsg.collection = 'localRecord';\n    newMsg.operation  = 'findOneAndUpdate';\n    if(msg.payload.name=='P40')\n        newMsg.payload    = [{ 'email':msg.req.cookies.name,'chip' : msg.payload.chip}, {$set:{ 'out.0':msg.payload.out}} ];\n    else if(msg.payload.name=='P41')\n        newMsg.payload    = [{ 'email':msg.req.cookies.name,'chip' : msg.payload.chip}, {$set:{ 'out.1':msg.payload.out}} ];\n    else if(msg.payload.name=='P42')\n        newMsg.payload    = [{ 'email':msg.req.cookies.name,'chip' : msg.payload.chip}, {$set:{ 'out.2':msg.payload.out}} ];\n    else if(msg.payload.name=='P43')\n        newMsg.payload    = [{ 'email':msg.req.cookies.name,'chip' : msg.payload.chip}, {$set:{ 'out.3':msg.payload.out}} ];\n    newMsg.projection = { 'email' : 1 , '_id' : 0 };\n    return [newMsg,null];\n}","outputs":2,"noerr":0,"x":410,"y":703,"wires":[["a85e591b.fd0378"],["6104b761.b9c928"]]},{"id":"a85e591b.fd0378","type":"mongodb2 in","z":"f1c68e3b.37e25","service":"_ext_","configNode":"85ece3ef.17db3","name":"admin","collection":"","operation":"","x":579,"y":697,"wires":[["c71c0a79.502dc8","8b16ac59.f3d63"]]},{"id":"c71c0a79.502dc8","type":"function","z":"f1c68e3b.37e25","name":"msg 받음","func":"var msg=global.get(\"msg_plc_act\")||\"\";\nreturn msg;","outputs":1,"noerr":0,"x":709,"y":697,"wires":[["afeaaee3.609cc"]]},{"id":"fa8bcd2b.98c7e","type":"function","z":"f1c68e3b.37e25","name":"encorder","func":"var num=msg.payload.out[0]+msg.payload.out[1]*2+msg.payload.out[2]*4+msg.payload.out[3]*8;\nmsg.payload=\"{chip:'\"+msg.payload.chip+\"', prt:'\"+'\\u0005'+\"00WSS0104%PW4000\"+num.toString(16)+'\\u0004'+\"'}\";\nreturn msg;","outputs":1,"noerr":0,"x":988,"y":745,"wires":[["5d2244c2.0e187c"]]},{"id":"5d2244c2.0e187c","type":"mqtt out","z":"f1c68e3b.37e25","name":"","topic":"/kdi/inTopic","qos":"","retain":"","broker":"3f20be74.12bbe2","x":1138,"y":745,"wires":[]},{"id":"8b16ac59.f3d63","type":"function","z":"f1c68e3b.37e25","name":"findOne","func":"var newMsg = {};\nnewMsg.collection = 'localRecord';\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = { 'email' : msg.payload.value.email, 'chip':msg.payload.value.chip};\nnewMsg.projection = { 'email' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":708,"y":745,"wires":[["5a9f1519.fc8e5c"]]},{"id":"5a9f1519.fc8e5c","type":"mongodb2 in","z":"f1c68e3b.37e25","service":"_ext_","configNode":"8364b0aa.ebd7e","name":"PLC 검색","collection":"","operation":"","x":848,"y":745,"wires":[["fa8bcd2b.98c7e"]]},{"id":"6104b761.b9c928","type":"function","z":"f1c68e3b.37e25","name":"read PLC","func":"var msg=global.get(\"msg_plc_act\")||\"\";\nmsg.payload=\"{chip:'\"+msg.payload.chip+\"', prt:'\"+'\\u0005'+\"00RSS0104%PW0\"+'\\u0004'+\"'}\";\nreturn msg;","outputs":1,"noerr":0,"x":708,"y":793,"wires":[["5d2244c2.0e187c","446d83fd.c3340c"]]},{"id":"45db280.87bded8","type":"mqtt in","z":"f1c68e3b.37e25","name":"","topic":"/kdi/outTopic","qos":"0","datatype":"auto","broker":"890be068.06b54","x":230,"y":856,"wires":[["68f1061b.e77248"]]},{"id":"68f1061b.e77248","type":"string","z":"f1c68e3b.37e25","name":"","methods":[],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":370,"y":856,"wires":[["a87b196c.5566d8"]]},{"id":"306614ba.64c70c","type":"function","z":"f1c68e3b.37e25","name":"2진수로정리","func":"var hex=msg.payload.prt.substring(12,14);\nvar dec16=parseInt(hex, 16);\nvar dec=dec16.toString(10);\nvar bin = parseInt(dec).toString(2);\nbin=\"000000\"+bin;\nbin = bin.slice(-6);\nmsg.payload.prt=bin;\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":856,"wires":[["957ff7e1.6767a8"]]},{"id":"5567a21c.8bd24c","type":"mongodb2 in","z":"f1c68e3b.37e25","service":"_ext_","configNode":"22afbf29.e6c45","name":"dbTest Data","collection":"","operation":"","x":1242.1145935058594,"y":855.8923673629761,"wires":[["644dfa2.8950a04"]]},{"id":"957ff7e1.6767a8","type":"function","z":"f1c68e3b.37e25","name":"findOneUpdate","func":"var out=[];\nout.push({payload:msg.payload.prt.charAt(5)});\nout.push({payload:msg.payload.prt.charAt(4)});\nout.push({payload:msg.payload.prt.charAt(3)});\nout.push({payload:msg.payload.prt.charAt(2)});\nout.push({payload:msg.payload.prt.charAt(1)});\nout.push({payload:msg.payload.prt.charAt(0)});\nvar newMsg = {};\nnewMsg.collection = 'localRecord';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'chip' : msg.payload.chip}, {$set:{ 'in.0':parseInt(out[0].payload),'in.1':parseInt(out[1].payload),'in.2':parseInt(out[2].payload),\n    'in.3':parseInt(out[3].payload),'in.4':parseInt(out[4].payload),'in.5':parseInt(out[5].payload) }} ];\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":1072.1145935058594,"y":855.8923673629761,"wires":[["5567a21c.8bd24c"]]},{"id":"88fa1092.3b507","type":"json","z":"f1c68e3b.37e25","name":"","property":"payload","action":"","pretty":false,"x":747,"y":856,"wires":[["306614ba.64c70c"]]},{"id":"a87b196c.5566d8","type":"function","z":"f1c68e3b.37e25","name":"아스키31 이하 공란으로","func":"var msg = {payload:msg.payload.replace(/[^\\x0F-\\x7F]/g, \" \")};\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":855,"wires":[["88fa1092.3b507"]]},{"id":"b7d64b2e.f6cf28","type":"function","z":"f1c68e3b.37e25","name":"4 plc List","func":"msg.payload.style=global.get(\"style\");\nmsg.payload.script=global.get(\"script\");\nvar i;\nvar s;\nvar r;\nvar sOut=\"\";\nfor(i=0;i<msg.payload.length;i++) {\n    r=\"<input type='hidden' name='chip' value='\"+msg.payload[i].chip+\"'>\";\n    if(msg.payload[i].type==0) {\n        //s=\"PLC : \"+msg.payload[i].chip+\"&emsp;\"+msg.payload[i].name + \"<br>&emsp;출력&nbsp;\";\n        s=\"PLC : \"+msg.payload[i].chip+\"&emsp;\"+msg.payload[i].type + \"<br>&emsp;출력&nbsp;\";\n        \n        s+=\"<form style='display:inline'><input type='hidden' name='chip' value='\"+msg.payload[i].chip+\"'>\";\n        if(msg.payload[i].out[0]==1) {\n            s+=\"<input type='hidden' name='name' value='P40'>\";\n            s+=\"<button type='submit' formaction='/plc_act' class='button buttonOn' name='out' value='1' method='get'>40 ON</button>\"; \n        }\n        else {\n            s+=\"<input type='hidden' name='name' value='P40'>\";\n            s+=\"<button type='submit' formaction='/plc_act' class='button buttonOff' name='out' value='0' method='get'>40 OFF</button>\"; \n        }\n        s+=\"</form>&nbsp;\"\n        \n        s+=\"<form style='display:inline'><input type='hidden' name='chip' value='\"+msg.payload[i].chip+\"'>\";\n        if(msg.payload[i].out[1]==1) {\n            s+=\"<input type='hidden' name='name' value='P41'>\";\n            s+=\"<button type='submit' formaction='/plc_act' class='button buttonOn' name='out' value='1' method='get'>41 ON</button>\"; \n        }\n        else {\n            s+=\"<input type='hidden' name='name' value='P41'>\";\n            s+=\"<button type='submit' formaction='/plc_act' class='button buttonOff' name='out' value='0' method='get'>41 OFF</button>\"; \n        }\n        s+=\"</form>&nbsp;\"\n        \n        s+=\"<form style='display:inline'><input type='hidden' name='chip' value='\"+msg.payload[i].chip+\"'>\";\n        if(msg.payload[i].out[2]==1) {\n            s+=\"<input type='hidden' name='name' value='P42'>\";\n            s+=\"<button type='submit' formaction='/plc_act' class='button buttonOn' name='out' value='1' method='get'>42 ON</button>\"; \n        }\n        else {\n            s+=\"<input type='hidden' name='name' value='P42'>\";\n            s+=\"<button type='submit' formaction='/plc_act' class='button buttonOff' name='out' value='0' method='get'>42 OFF</button>\"; \n        }\n        s+=\"</form>&nbsp;\"\n        \n        s+=\"<form style='display:inline'><input type='hidden' name='chip' value='\"+msg.payload[i].chip+\"'>\";\n        if(msg.payload[i].out[3]==1) {\n            s+=\"<input type='hidden' name='name' value='P43'>\";\n            s+=\"<button type='submit' formaction='/plc_act' class='button buttonOn' name='out' value='1' method='get'>43 ON</button>\"; \n        }\n        else {\n            s+=\"<input type='hidden' name='name' value='P43'>\";\n            s+=\"<button type='submit' formaction='/plc_act' class='button buttonOff' name='out' value='0' method='get'>43 OFF</button>\"; \n        }\n        s+=\"</form>&nbsp;<br>\"\n        //s+=\"</form>\";\n\n        // PLC 입력표시\n        s+=\"&emsp;입력&nbsp;\";\n        s+=\"<form style='display:inline'><input type='hidden' name='chip' value='\"+msg.payload[i].chip+\"'>\";\n        s+=\"<button type='submit' formaction='/plc_act' class='button button20' name='name' value='in' method='get'>새로고침</button></form><br>\"; \n        s+=\"&emsp;&emsp;\";\n        if(msg.payload[i].in[0]==1) \n            s+=\"<button  class='button buttonLedon'>00 </button> &nbsp;\"; \n        else \n            s+=\"<button  class='button buttonLedoff'>00 </button> &nbsp;\";\n        if(msg.payload[i].in[1]==1) \n            s+=\"<button class='button buttonLedon'>01 </button> &nbsp;\"; \n        else \n            s+=\"<button  class='button buttonLedoff'>01 </button> &nbsp;\"; \n        if(msg.payload[i].in[2]==1) \n            s+=\"<button  class='button buttonLedon'>02 </button> &nbsp;\"; \n        else \n            s+=\"<button  class='button buttonLedoff'>02 </button> &nbsp;\"; \n        if(msg.payload[i].in[3]==1) \n            s+=\"<button  class='button buttonLedon'>03 </button> &nbsp;\"; \n        else \n            s+=\"<button  class='button buttonLedoff'>03 </button> &nbsp;\"; \n            \n        if(msg.payload[i].in[4]==1) \n            s+=\"<button  class='button buttonLedon'>04 </button> &nbsp;\"; \n        else \n            s+=\"<button  class='button buttonLedoff'>04 </button> &nbsp;\"; \n            \n        if(msg.payload[i].in[5]==1) \n            s+=\"<button  class='button buttonLedon'>05 </button> &nbsp;\"; \n        else \n            s+=\"<button  class='button buttonLedoff'>05 </button> &nbsp;\"; \n \n    }\n    sOut=sOut+s+\"<br>\";\n}    \nmsg.payload.plc=sOut;\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":578,"wires":[["da7d48d8.5fe468"]]},{"id":"9147991e.4441a8","type":"comment","z":"f1c68e3b.37e25","name":"PLC Act","info":"","x":80,"y":703,"wires":[]},{"id":"ef097393.425c2","type":"comment","z":"f1c68e3b.37e25","name":"PLC Read","info":"","x":80,"y":858,"wires":[]},{"id":"f047a91c.22b168","type":"link in","z":"f1c68e3b.37e25","name":"Login","links":["aeeeeb63.918df8","a6cc9046.abdff","67829cb7.344734"],"x":1295,"y":60,"wires":[["490c7d21.3090b4"]]},{"id":"aeeeeb63.918df8","type":"link out","z":"f1c68e3b.37e25","name":"","links":["f047a91c.22b168"],"x":1255,"y":199,"wires":[]},{"id":"1fe67283.7e588d","type":"link in","z":"f1c68e3b.37e25","name":"Main","links":["9a03f656.7c6a68","b9e01ef1.a3055","afeaaee3.609cc","7969d0df.4d6df","644dfa2.8950a04"],"x":1299,"y":120,"wires":[["696afa86.b8cb14"]]},{"id":"9a03f656.7c6a68","type":"link out","z":"f1c68e3b.37e25","name":"","links":["1fe67283.7e588d"],"x":1215,"y":252,"wires":[]},{"id":"a6cc9046.abdff","type":"link out","z":"f1c68e3b.37e25","name":"","links":["f047a91c.22b168"],"x":1089,"y":338,"wires":[]},{"id":"67829cb7.344734","type":"link out","z":"f1c68e3b.37e25","name":"","links":["f047a91c.22b168"],"x":1099,"y":466,"wires":[]},{"id":"b9e01ef1.a3055","type":"link out","z":"f1c68e3b.37e25","name":"","links":["1fe67283.7e588d"],"x":1135,"y":627,"wires":[]},{"id":"afeaaee3.609cc","type":"link out","z":"f1c68e3b.37e25","name":"","links":["1fe67283.7e588d"],"x":809,"y":697,"wires":[]},{"id":"7969d0df.4d6df","type":"link out","z":"f1c68e3b.37e25","name":"","links":["1fe67283.7e588d"],"x":975,"y":800,"wires":[]},{"id":"644dfa2.8950a04","type":"link out","z":"f1c68e3b.37e25","name":"","links":["1fe67283.7e588d"],"x":1355,"y":857,"wires":[]},{"id":"446d83fd.c3340c","type":"delay","z":"f1c68e3b.37e25","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":880,"y":800,"wires":[["7969d0df.4d6df"]]},{"id":"8364b0aa.ebd7e","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/admin","name":"admin","options":"","parallelism":"-1"},{"id":"85ece3ef.17db3","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/admin","name":"admin","options":"","parallelism":""},{"id":"3f20be74.12bbe2","type":"mqtt-broker","z":"","name":"mqtt-dashboard.com","broker":"a8i4lgiqa43pw-ats.iot.us-west-2.amazonaws.com","port":"8883","tls":"daecc2e2.b6a42","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"890be068.06b54","type":"mqtt-broker","z":"","name":"","broker":"a8i4lgiqa43pw-ats.iot.us-west-2.amazonaws.com","port":"8883","tls":"daecc2e2.b6a42","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"22afbf29.e6c45","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/admin","name":"admin","options":"","parallelism":""},{"id":"daecc2e2.b6a42","type":"tls-config","z":"","name":"3Phase","cert":"","key":"","ca":"","certname":"e9369a83d7-certificate.pem.crt","keyname":"e9369a83d7-private.pem.key","caname":"MtestCA.pem","servername":"","verifyservercert":true}]