1_16_2_mqttJson/mqttJson_NodeRed.txt
[{"id":"ecd57b6f.8bcc08","type":"mqtt out","z":"4d5b56e0.b9cb88","name":"","topic":"/kdi/outTopic","qos":"","retain":"","broker":"cec6aecd.caaad","x":503.2522430419922,"y":122.18286895751953,"wires":[]},{"id":"c01ea9f6.54ed08","type":"inject","z":"4d5b56e0.b9cb88","name":"","topic":"","payload":"{\"sensor\":\"gps\",\"time\":1351824149,\"data\":[48.756080,2.302038]} ","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":196.2477264404297,"y":120.21528053283691,"wires":[["4bcf8da8.71fdf4"]]},{"id":"69fb8e43.496c7","type":"debug","z":"4d5b56e0.b9cb88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":506.24536895751953,"y":182.22454071044922,"wires":[]},{"id":"522c1219.a05a7c","type":"function","z":"4d5b56e0.b9cb88","name":"","func":"global.set(\"count\",0);\nreturn msg;","outputs":2,"noerr":0,"x":351.24999618530273,"y":65.58332633972168,"wires":[[],[]]},{"id":"5a6c6e21.feedf","type":"inject","z":"4d5b56e0.b9cb88","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":203.2523193359375,"y":65.21527862548828,"wires":[["522c1219.a05a7c"]]},{"id":"4bcf8da8.71fdf4","type":"function","z":"4d5b56e0.b9cb88","name":"","func":"var count = global.get(\"count\");\ncount = count+1;\nglobal.set(\"count\",count);\nmsg.payload = {\"sensor\":\"gps\",\"time\":count,\"data\":[48.756080,2.302038]};\nreturn msg;","outputs":1,"noerr":0,"x":340.2477111816406,"y":121.84490966796875,"wires":[["ecd57b6f.8bcc08","69fb8e43.496c7"]]},{"id":"cec6aecd.caaad","type":"mqtt-broker","z":"","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"ertyuiop","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]