1-26-4-5_Internet PLC Mqtt/1-26-4-5 PC node red program.txt
[{"id":"c7be8cd6.f2bde","type":"tab","label":"플로우 1","disabled":false,"info":""},{"id":"c28bdd.4988742","type":"mqtt in","z":"c7be8cd6.f2bde","name":"","topic":"/kdi/outTopic","qos":"0","datatype":"auto","broker":"f843ba7c.f56418","x":150.0173568725586,"y":166.34029293060303,"wires":[["9a036705.cd6218","99aebc10.87912"]]},{"id":"6259ffff.ebe94","type":"ui_switch","z":"c7be8cd6.f2bde","name":"","label":"P40","tooltip":"","group":"a8644bf8.da8d48","order":2,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":133.9480743408203,"y":367.0000476837158,"wires":[["638da5bf.74a26c"]]},{"id":"d90a909c.5154","type":"ui_switch","z":"c7be8cd6.f2bde","name":"","label":"P41","tooltip":"","group":"a8644bf8.da8d48","order":3,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":133.94806671142578,"y":420.0000686645508,"wires":[["7745d50b.5eb10c"]]},{"id":"2d43112c.f3048e","type":"ui_switch","z":"c7be8cd6.f2bde","name":"","label":"P42","tooltip":"","group":"a8644bf8.da8d48","order":4,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":131.94806671142578,"y":480.0000686645508,"wires":[["2034906a.d9a0b"]]},{"id":"91a2f2cc.446fb","type":"ui_switch","z":"c7be8cd6.f2bde","name":"","label":"P44","tooltip":"","group":"a8644bf8.da8d48","order":5,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":130.94806671142578,"y":531.0000686645508,"wires":[["a0b3d9ef.e4ba98"]]},{"id":"638da5bf.74a26c","type":"function","z":"c7be8cd6.f2bde","name":"전역변수","func":"global.set(\"out40\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":286.92845916748047,"y":367.99615573883057,"wires":[["9e07d43d.63b3c8"]]},{"id":"7745d50b.5eb10c","type":"function","z":"c7be8cd6.f2bde","name":"전역변수","func":"global.set(\"out41\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":285.92845916748047,"y":420.99615573883057,"wires":[["9e07d43d.63b3c8"]]},{"id":"2034906a.d9a0b","type":"function","z":"c7be8cd6.f2bde","name":"전역변수","func":"global.set(\"out42\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":287.92845916748047,"y":479.99615573883057,"wires":[["9e07d43d.63b3c8"]]},{"id":"a0b3d9ef.e4ba98","type":"function","z":"c7be8cd6.f2bde","name":"전역변수","func":"global.set(\"out43\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":285.92845916748047,"y":530.9961557388306,"wires":[["9e07d43d.63b3c8"]]},{"id":"9e07d43d.63b3c8","type":"function","z":"c7be8cd6.f2bde","name":"encoder","func":"var p40=global.get(\"out40\")||0;\nvar p41=global.get(\"out41\")||0;\nvar p42=global.get(\"out42\")||0;\nvar p43=global.get(\"out43\")||0;\nvar num=p40+p41*2+p42*4+p43*8;\nmsg.payload='\\u0005'+\"00WSS0104%PW4000\"+num.toString(16)+'\\u0004';\nreturn msg;","outputs":1,"noerr":0,"x":455.94805908203125,"y":368.00006103515625,"wires":[["63d9819.b901f8"]]},{"id":"28aa8806.beac18","type":"ui_led","z":"c7be8cd6.f2bde","group":"a8644bf8.da8d48","order":6,"width":"2","height":"1","label":"p00","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"name":"p00","x":762.9479217529297,"y":59.00010395050049,"wires":[]},{"id":"871c448d.468888","type":"function","z":"c7be8cd6.f2bde","name":"2진수로정리","func":"var hex=msg.payload.substring(12,14);\nvar dec16=parseInt(hex, 16);\nvar dec=dec16.toString(10);\nvar bin = parseInt(dec).toString(2);\nbin=\"000000\"+bin;\nbin = bin.slice(-6);\nmsg.payload=bin;\n\n//dec = msg.payload.charAt(12);\n//var bin1 = parseInt(dec).toString(2);\n//bin1=\"0000\"+bin1;\n//bin1 = bin1.slice(-4);\n\n//msg.payload=bin1+bin;\nreturn msg;","outputs":1,"noerr":0,"x":437.8854064941406,"y":164.10763263702393,"wires":[["b5df7635.1dfb08"]]},{"id":"b5df7635.1dfb08","type":"function","z":"c7be8cd6.f2bde","name":"decoder","func":"var out=[];\nout.push({payload:msg.payload.charAt(5)});\nout.push({payload:msg.payload.charAt(4)});\nout.push({payload:msg.payload.charAt(3)});\nout.push({payload:msg.payload.charAt(2)});\nout.push({payload:msg.payload.charAt(1)});\nout.push({payload:msg.payload.charAt(0)});\nreturn [out[0],out[1],out[2],out[3],out[4],out[5]];\n","outputs":6,"noerr":0,"x":596.9409637451172,"y":163.9618377685547,"wires":[["28aa8806.beac18"],["a0420725.621798"],["b8aac75a.b6ce88"],["e5984dfa.fb6b6"],["2ce510e4.8284b"],["1227c5b7.a3d06a"]]},{"id":"a0420725.621798","type":"ui_led","z":"c7be8cd6.f2bde","group":"a8644bf8.da8d48","order":7,"width":"2","height":"1","label":"p01","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"name":"p01","x":764.8854560852051,"y":101.10764026641846,"wires":[]},{"id":"b8aac75a.b6ce88","type":"ui_led","z":"c7be8cd6.f2bde","group":"a8644bf8.da8d48","order":8,"width":"2","height":"1","label":"p02","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"name":"p02","x":764.8854560852051,"y":141.10764026641846,"wires":[]},{"id":"e5984dfa.fb6b6","type":"ui_led","z":"c7be8cd6.f2bde","group":"a8644bf8.da8d48","order":9,"width":"2","height":"1","label":"p03","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"name":"p03","x":764.8854560852051,"y":180.10767078399658,"wires":[]},{"id":"2ce510e4.8284b","type":"ui_led","z":"c7be8cd6.f2bde","group":"a8644bf8.da8d48","order":10,"width":"2","height":"1","label":"p04","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"name":"p04","x":767.8854560852051,"y":219.10767078399658,"wires":[]},{"id":"1227c5b7.a3d06a","type":"ui_led","z":"c7be8cd6.f2bde","group":"a8644bf8.da8d48","order":11,"width":"2","height":"1","label":"p05","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"name":"p05","x":766.8854560852051,"y":264.1076707839966,"wires":[]},{"id":"63d9819.b901f8","type":"mqtt out","z":"c7be8cd6.f2bde","name":"","topic":"/kdi/inTopic","qos":"","retain":"","broker":"9c771726.7165f8","x":624.076416015625,"y":367.4653034210205,"wires":[]},{"id":"9a036705.cd6218","type":"ui_text","z":"c7be8cd6.f2bde","group":"a8644bf8.da8d48","order":10,"width":0,"height":0,"name":"","label":"받음","format":"{{msg.payload}}","layout":"row-spread","x":296.07994079589844,"y":127.81250762939453,"wires":[]},{"id":"883880ff.b515f","type":"ui_button","z":"c7be8cd6.f2bde","name":"","group":"a8644bf8.da8d48","order":11,"width":0,"height":0,"passthru":false,"label":"PLC 읽기","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":142.06945037841797,"y":306.1284770965576,"wires":[["ece234fa.c5b978"]]},{"id":"ece234fa.c5b978","type":"function","z":"c7be8cd6.f2bde","name":"읽기 보냄","func":"msg.payload='\\u0005'+'00RSS0104%PW0'+'\\u0004';\nreturn msg;","outputs":1,"noerr":0,"x":288.0174026489258,"y":307.01038885116577,"wires":[["63d9819.b901f8"]]},{"id":"99aebc10.87912","type":"string","z":"c7be8cd6.f2bde","name":"","methods":[],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":297.0173645019531,"y":167.0104217529297,"wires":[["871c448d.468888"]]},{"id":"f843ba7c.f56418","type":"mqtt-broker","z":"","name":"mqtt-dashboard.com","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a8644bf8.da8d48","type":"ui_group","z":"","name":"PLC Testing","tab":"1b358e5f.325bc2","disp":true,"width":"8","collapse":false},{"id":"9c771726.7165f8","type":"mqtt-broker","z":"","name":"mqtt-dashboard.com","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1b358e5f.325bc2","type":"ui_tab","name":"Tab","icon":"dashboard","order":0}]