1_22 WifiJsonServerAP/1_22_2_WifiJsonClientPC/node_red Program.txt
[{"id":"e0144dc2.a87f7","type":"http in","z":"e2ee9a24.b8de28","name":"","url":"/json","method":"get","upload":false,"swaggerDoc":"","x":105.08334732055664,"y":133.79515099525452,"wires":[["8fedf10f.0adf","68f31c90.e07f64"]]},{"id":"8fedf10f.0adf","type":"debug","z":"e2ee9a24.b8de28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":254.08010864257812,"y":193.48968315124512,"wires":[]},{"id":"68f31c90.e07f64","type":"function","z":"e2ee9a24.b8de28","name":"","func":"msg.payload=msg.payload.count;\nreturn msg;","outputs":1,"noerr":0,"x":257.0833282470703,"y":137.84375667572021,"wires":[["4b9bacbc.34e744"]]},{"id":"4b9bacbc.34e744","type":"ui_chart","z":"e2ee9a24.b8de28","name":"","group":"b7f7ed6e.566dc","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":404.07293701171875,"y":136.54863357543945,"wires":[[],[]]},{"id":"b7f7ed6e.566dc","type":"ui_group","name":"Group 1","tab":"1ce13adb.0f03d5","order":1,"disp":true,"width":6},{"id":"1ce13adb.0f03d5","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]