1-38-1 Arduino GPS Coordinate Distance Calculator in Node-RED/node red 소스.txt
[{"id":"44bc92ff.db8b2c","type":"mqtt in","z":"3c64d5.fc825b2c","name":"","topic":"/kdi/outTopic","qos":"0","datatype":"auto","broker":"c1df72e6.788e2","x":190,"y":140,"wires":[["70788941.043638"]]},{"id":"70788941.043638","type":"json","z":"3c64d5.fc825b2c","name":"","property":"payload","action":"","pretty":false,"x":330,"y":140,"wires":[["90411d.0b6caee"]]},{"id":"90411d.0b6caee","type":"function","z":"3c64d5.fc825b2c","name":"global data로 저장","func":"if(msg.payload.id==\"c3c05a\")\n    global.set(\"msg1\",msg);\nif(msg.payload.id==\"d08d80\")\n    global.set(\"msg2\",msg);\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":140,"wires":[["437228a5.da8968"]]},{"id":"437228a5.da8968","type":"function","z":"3c64d5.fc825b2c","name":"거리계산","func":"var msg1=global.get(\"msg1\")||\"\";\nvar msg2=global.get(\"msg2\")||\"\";\n\n  var flat=msg1.payload.lat;\n  var flon=msg1.payload.lon;\n  var tlat = msg2.payload.lat;\n  var tlon = msg2.payload.lon;\n\n  //convert decimal degree into radian\n  var latRad = flat * 0.017453293;\n  var lonRad = flon * 0.017453293;\n  var tlatRad = tlat * 0.017453293;\n  var tlonRad = tlon * 0.017453293;\n\n  var midLat = tlatRad - latRad;\n  var midLon = tlonRad - lonRad;\n\n  //Calculate the distance in KM\n  var latSin = Math.sin((latRad - tlatRad)/2);\n  var lonSin = Math.sin((lonRad - tlonRad)/2);\n  var distanceKm = 2 * Math.asin(Math.sqrt((latSin*latSin) + Math.cos(latRad) * Math.cos(tlatRad) * (lonSin * lonSin)));\n  distanceKm = distanceKm * 6371;\n\n  //convert to miles\n  var distanceMiles = distanceKm * 0.621371192;\n  distanceFeet = distanceMiles *5280;\n    \n  //msg2.payload= parseFloat(msg2.lat);\n  var newMsg={};\n  newMsg.payload=distanceKm;\nreturn newMsg;","outputs":1,"noerr":0,"x":677,"y":140,"wires":[["227e98c4.172298","aacc2a13.bfb928"]]},{"id":"227e98c4.172298","type":"function","z":"3c64d5.fc825b2c","name":"지도에 표시","func":"var msg1=global.get(\"msg1\")||\"\";\nvar msg2=global.get(\"msg2\")||\"\";\nvar newMsg={};\nnewMsg.payload =  [{\n    name:\"a\",\n    lat:msg1.payload.lat,\n    lon:msg1.payload.lon,\n    icon:\"power-off\",\n    iconColor:'black',\n},\n{\n    name:\"b\",\n    lat:msg2.payload.lat,\n    lon:msg2.payload.lon,\n    icon:\"power-on\",\n    iconColor:'red',\n}]\n;\n\nreturn newMsg;","outputs":1,"noerr":0,"x":690,"y":220,"wires":[["b9d27c93.15e2f"]]},{"id":"2fbdc49e.32cb1c","type":"inject","z":"3c64d5.fc825b2c","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":190,"y":220,"wires":[["1aab45be.f644ba"]]},{"id":"ea1e9bcf.d16458","type":"ui_template","z":"3c64d5.fc825b2c","group":"4e6773fb.8bde6c","name":"WorldMap","order":0,"width":"24","height":"16","format":"<div ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":470,"y":220,"wires":[[]]},{"id":"1aab45be.f644ba","type":"template","z":"3c64d5.fc825b2c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src=\"../worldmap\" height=500px width=\"100%\" ></iframe>","x":320,"y":220,"wires":[["ea1e9bcf.d16458"]]},{"id":"b9d27c93.15e2f","type":"worldmap","z":"3c64d5.fc825b2c","name":"","lat":"38","lon":"127","zoom":"","layer":"OSM","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","path":"/worldmap","x":850,"y":220,"wires":[]},{"id":"aacc2a13.bfb928","type":"ui_text","z":"3c64d5.fc825b2c","group":"4e6773fb.8bde6c","order":2,"width":"6","height":"1","name":"","label":"거리(Km)","format":"{{msg.payload}}","layout":"row-spread","x":817,"y":140,"wires":[]},{"id":"c1df72e6.788e2","type":"mqtt-broker","z":"","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","tls":"afd28841.25ca98","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4e6773fb.8bde6c","type":"ui_group","z":"","name":"Map","tab":"94fe24eb.026118","order":1,"disp":true,"width":"24","collapse":false},{"id":"afd28841.25ca98","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"e9369a83d7-certificate.pem.crt","keyname":"e9369a83d7-private.pem.key","caname":"MtestCA.pem","servername":"","verifyservercert":true},{"id":"94fe24eb.026118","type":"ui_tab","z":"","name":"Map","icon":"map","disabled":false,"hidden":false}]