1-38-1 Arduino GPS Coordinate Distance Calculator in Node-RED/node red 소스.txt
[{"id":"e547fb28.452478","type":"inject","z":"fe0af4db.8ca698","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":190,"y":140,"wires":[["6c8c4254.5454ac"]]},{"id":"a02beb99.293528","type":"ui_template","z":"fe0af4db.8ca698","group":"f85a63bf.0860c","name":"WorldMap","order":0,"width":"24","height":"16","format":"<div ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":470,"y":140,"wires":[[]]},{"id":"6c8c4254.5454ac","type":"template","z":"fe0af4db.8ca698","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src=\"../worldmap\" height=500px width=\"100%\" ></iframe>","x":320,"y":140,"wires":[["a02beb99.293528"]]},{"id":"2a1367ce.3f3d28","type":"function","z":"fe0af4db.8ca698","name":"RecorrAuto","func":"var splittedText = [\n  [19.04358504630276, -98.2007896900177],\n  [19.04354955051086, -98.20073068141939],\n  [19.04350898388225, -98.20067167282106],\n  [19.043473488074085, -98.20059120655061],\n  [19.043448133920748, -98.20052146911623],\n  [19.04341770893163, -98.20046782493591],\n  [19.043377142270796, -98.20039808750154],\n  [19.043354323519715, -98.20035785436632],\n  [19.04333277247416, -98.20030555129051],\n  [19.04330741829932, -98.20025995373727],\n  [19.043287134956667, -98.20021972060206],\n  [19.04326431619322, -98.20017680525783],\n  [19.043238962007926, -98.20013657212259],\n  [19.043228820332736, -98.20009768009187],\n  [19.043200930722733, -98.20005208253862],\n  [19.04318318278667, -98.2000118494034],\n  [19.04315909629896, -98.19996491074563],\n  [19.04314261606851, -98.1999219954014],\n  [19.043118529574937, -98.19988176226616],\n  [19.043104584761245, -98.19984957575798],\n  [19.043085569104356, -98.1998120248318],\n  [19.043066553445264, -98.19977581501009],\n  [19.043042466940648, -98.19973424077035],\n  [19.04302852212057, -98.1997074186802],\n  [19.043014577299335, -98.19967523217203],\n  [19.043003167899272, -98.19964572787288],\n  [19.042979081385443, -98.1996135413647],\n  [19.04296133342564, -98.19956794381143],\n  [19.042944853175573, -98.19953709840776],\n  [19.042929640635585, -98.1995089352131],\n  [19.042928372923864, -98.19948211312295],\n  [19.042952459445047, -98.19945663213733],\n  [19.042977813674092, -98.19944858551025],\n  [19.04300443561043, -98.19942444562915],\n  [19.043032325253435, -98.19941371679309],\n  [19.04305641175954, -98.1993989646435],\n  [19.04308176597271, -98.1993842124939],\n  [19.043108387892367, -98.1993654370308],\n  [19.043146419198756, -98.1993466615677],\n  [19.043184450496444, -98.19932386279109],\n  [19.04321994636643, -98.19930240511897],\n  [19.04325290681032, -98.19928094744685],\n  [19.043289670374634, -98.19926351308824],\n  [19.043325166222115, -98.19924205541612],\n  [19.043359394353566, -98.19921523332597],\n  [19.04340376414308, -98.19919914007188],\n  [19.04343672455048, -98.19918036460878],\n  [19.04347855890428, -98.19915354251863],\n  [19.043507716174947, -98.19913208484651],\n  [19.043538141147565, -98.19911062717439],\n  [19.043576172355507, -98.19909051060678],\n  [19.043616738967692, -98.19907307624817],\n  [19.043644628507828, -98.19905027747154],\n  [19.043700407574022, -98.19902881979942],\n  [19.043739706450314, -98.19899797439577],\n  [19.043798020894773, -98.19896444678307],\n  [19.043848729090698, -98.1989309191704],\n  [19.04389563415812, -98.19890275597574],\n  [19.04394634232421, -98.19887459278107],\n  [19.043985641142285, -98.19885313510895],\n  [19.04402874306108, -98.19881960749626],\n  [19.044078183483556, -98.1988048553467],\n  [19.04412889159389, -98.19876864552499],\n  [19.044173261177722, -98.19873914122584],\n  [19.04422523696084, -98.19871634244922],\n  [19.044265803414405, -98.19868952035905],\n  [19.044322849972936, -98.1986613571644],\n  [19.044376093409888, -98.19864526391031],\n  [19.044420462927643, -98.19863453507425],\n  [19.04445849393342, -98.19866001605989],\n  [19.04448384793242, -98.19872036576272],\n  /*[19.04451554042573, -98.19877803325654],\n  [19.04453835901716, -98.19883301854135],\n  [19.044573854597616, -98.19889470934868],\n  [19.044601743976926, -98.1989496946335],\n  [19.04463216874902, -98.1990073621273],\n  [19.044662593515522, -98.1990583240986],\n  [19.044690482879922, -98.19911062717439],\n  [19.044715836843494, -98.19915488362314],\n  [19.04473738770948, -98.19919377565385],\n  [19.044762741665885, -98.19924339652064],\n  [19.044788095618415, -98.19929033517839],\n  [19.04481091417239, -98.19933861494066],\n  [19.04483373272321, -98.19937348365785],\n  [19.044860354361873, -98.19942310452463],\n  [19.044881905209117, -98.1994687020779],\n  [19.04490979453665, -98.19952905178071],\n  [19.044938951555903, -98.19958806037904],\n  [19.044971911658443, -98.1996524333954],\n  [19.04500994253786, -98.1997235119343],\n  [19.045042902626303, -98.19978386163713],\n  [19.04507713040354, -98.19985359907152],\n  [19.04509741352745, -98.19990053772928],\n  [19.04512657051374, -98.19995284080507],\n  [19.045146853631607, -98.20000112056734],\n  [19.045168404441636, -98.20005610585214],\n  [19.04518995524886, -98.2000842690468],\n  [19.045208970664685, -98.20012852549553],\n  [19.04522545068995, -98.20016071200371]*/\n];\n\nvar arrStringFy = \"\"\n\nfor (var i = 0; i < splittedText.length; i++) {\n    (function(i) {\n        setTimeout(function() {\n            arrStringFy = splittedText[i];\n            msg.payload = arrStringFy\n            node.send(msg)\n        }, 500 * i);\n    })(i);\n};","outputs":1,"noerr":0,"x":270,"y":200,"wires":[["3c9d4fad.4ae5c"]]},{"id":"3b9404fa.da703c","type":"ui_button","z":"fe0af4db.8ca698","name":"","group":"f85a63bf.0860c","order":1,"width":"3","height":"1","passthru":false,"label":"#5","tooltip":"","color":"","bgcolor":"","icon":"domain","payload":"1","payloadType":"str","topic":"","x":130,"y":240,"wires":[["d14aff81.c9ddf","2a1367ce.3f3d28"]]},{"id":"d14aff81.c9ddf","type":"function","z":"fe0af4db.8ca698","name":"GeoCerca","func":"msg.payload = {\n    \"name\": \"InventotecaGeo\",\n    \"color\": \"#0e22c8\",\n    \"fillColor\": \"#0e22c8\",\n    \"area\":\n    [\n        [19.04354955051086, -98.200843334198], \n        [19.04285738105162, -98.19948077201845], \n        [19.043686462809234, -98.1989872455597], \n        [19.043686462809234, -98.1989872455597], \n        [19.04453075282037, -98.20062071084979], \n        [19.044469903233445, -98.20065826177598], \n        [19.0436661795129, -98.1990918517113], \n        [19.043278260993475, -98.19932520389558], \n        [19.042963868848595, -98.19949954748155], \n        [19.043633219151058, -98.20081651210786]\n    ]\n\n}\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":240,"wires":[["b5534476.4235e8"]]},{"id":"3c9d4fad.4ae5c","type":"function","z":"fe0af4db.8ca698","name":"ConfigAuto","func":"var lat = msg.payload[0]\nvar lng = msg.payload[1]\n\nmsg.payload = {\n  \"name\": \"Jason\",\n  \"iconColor\": \"#0e22c8\",\n  \"color\": \"#0e22c8\",\n  \"icon\": \"fa-map-marker\",\n  \"lat\": lat,\n  \"lon\": lng,\n  \"layer\":\"unkwon\",\n  \"draggable\": false,\n  \"width\": 10\n}\n\nreturn msg","outputs":1,"noerr":0,"x":430,"y":200,"wires":[["b33588be.116758","b5534476.4235e8"]]},{"id":"b33588be.116758","type":"worldmap-tracks","z":"fe0af4db.8ca698","name":"LineaAuto","depth":"1000","layer":"combined","x":580,"y":200,"wires":[["b5534476.4235e8"]]},{"id":"b5534476.4235e8","type":"worldmap","z":"fe0af4db.8ca698","name":"MapIn","lat":"19.0433548","lon":"-98.2005729","zoom":"17","layer":"OSM","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"true","path":"/worldmap","x":730,"y":240,"wires":[]},{"id":"927470ed.794c6","type":"e-mail out","z":"fe0af4db.8ca698","server":"smtp.gmail.com","port":"465","secure":true,"name":"kdi6033@gmail.com","dname":"","x":500,"y":300,"wires":[["4c3fb1c8.55d92"]]},{"id":"e3ac8831.f9dcf8","type":"inject","z":"fe0af4db.8ca698","name":"","topic":"","payload":"adadsfasdf","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":300,"wires":[["5f5204ce.c8f1ac"]]},{"id":"4c3fb1c8.55d92","type":"debug","z":"fe0af4db.8ca698","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":300,"wires":[]},{"id":"5f5204ce.c8f1ac","type":"function","z":"fe0af4db.8ca698","name":"","func":"//msg.html=\"dfasfasfsa\";\nvar email=\"kdi6033@gmail.com\";\nmsg.to=email;\nmsg.subject=\"임시 비밀번호는 \"+msg.payload+\" 입니다. 로그인 후 변경해 주세요.\";\nmsg.topic=\"임시 비밀번호 from 모션링크\";\nmsg.body=\"안녕하세요<form action=\\\"http://54.214.53.183:1880/hello-query\\\" method=\\\"get\\\">이름 : <input type=\\\"text\\\" name=\\\"name\\\"><br><button type=\\\"submit\\\">Send my greetings</button></form>\";  //내용\nmsg.html=\"안녕하세요ggg\";\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":300,"wires":[["927470ed.794c6"]]},{"id":"6ca3f969.f6bdc8","type":"http in","z":"fe0af4db.8ca698","name":"","url":"/act","method":"get","upload":false,"swaggerDoc":"","x":140,"y":360,"wires":[["e1bdc9e7.8032e8"]]},{"id":"e1bdc9e7.8032e8","type":"node-red-contrib-httpauth","z":"fe0af4db.8ca698","name":"","file":"","cred":"","authType":"Basic","realm":"","username":"admin","password":"1234","hashed":false,"x":300,"y":360,"wires":[["3163c731.1b2908"]]},{"id":"3163c731.1b2908","type":"debug","z":"fe0af4db.8ca698","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":440,"y":360,"wires":[]},{"id":"f85a63bf.0860c","type":"ui_group","z":"","name":"Map","tab":"89089625.1e71f8","order":1,"disp":true,"width":"24","collapse":false},{"id":"89089625.1e71f8","type":"ui_tab","z":"","name":"Map","icon":"map","disabled":false,"hidden":false}]