1-26-4-7 [WiFi PLC AWS mongoDB MQTT Node-RED]/1-26-4-7 node red program.txt
[{"id":"933a16d.ccbd1e8","type":"tab","label":"1.26.4.7","disabled":false,"info":""},{"id":"ad40e0f8.c4d4c","type":"mqtt in","z":"933a16d.ccbd1e8","name":"","topic":"/kdi/outTopic","qos":"0","datatype":"auto","broker":"f7efb176.f14a6","x":150.0173568725586,"y":149.34029293060303,"wires":[["9ba23782.4dbe38","44702764.04b0f8"]]},{"id":"5290b0ce.05b3d","type":"ui_led","z":"933a16d.ccbd1e8","group":"b63bab35.d0d4b8","order":8,"width":"2","height":"1","label":"p00","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"p00","x":750,"y":714,"wires":[]},{"id":"2decf7be.8c1738","type":"function","z":"933a16d.ccbd1e8","name":"2진수로정리","func":"var hex=msg.payload.substring(12,14);\nvar dec16=parseInt(hex, 16);\nvar dec=dec16.toString(10);\nvar bin = parseInt(dec).toString(2);\nbin=\"000000\"+bin;\nbin = bin.slice(-6);\nmsg.payload=bin;\n\n//dec = msg.payload.charAt(12);\n//var bin1 = parseInt(dec).toString(2);\n//bin1=\"0000\"+bin1;\n//bin1 = bin1.slice(-4);\n\n//msg.payload=bin1+bin;\nreturn msg;","outputs":1,"noerr":0,"x":437.8854064941406,"y":147.10763263702393,"wires":[["2676133d.249bec"]]},{"id":"fdd53705.54ca48","type":"function","z":"933a16d.ccbd1e8","name":"decoder","func":"var out=[];\nout.push({payload:msg.payload.charAt(5)});\nout.push({payload:msg.payload.charAt(4)});\nout.push({payload:msg.payload.charAt(3)});\nout.push({payload:msg.payload.charAt(2)});\nout.push({payload:msg.payload.charAt(1)});\nout.push({payload:msg.payload.charAt(0)});\nreturn [out[0],out[1],out[2],out[3],out[4],out[5]];","outputs":6,"noerr":0,"x":620.0520782470703,"y":814.9998960494995,"wires":[["5290b0ce.05b3d"],["6a9b2575.da80ac"],["821c0c2b.228fb"],["29d64b83.785724"],["73b249b1.7d0598"],["7eff6c49.b78734"]]},{"id":"6a9b2575.da80ac","type":"ui_led","z":"933a16d.ccbd1e8","group":"b63bab35.d0d4b8","order":9,"width":"2","height":"1","label":"p01","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"p01","x":751.9375343322754,"y":756.107536315918,"wires":[]},{"id":"821c0c2b.228fb","type":"ui_led","z":"933a16d.ccbd1e8","group":"b63bab35.d0d4b8","order":10,"width":"2","height":"1","label":"p02","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"p02","x":751.9375343322754,"y":796.107536315918,"wires":[]},{"id":"29d64b83.785724","type":"ui_led","z":"933a16d.ccbd1e8","group":"b63bab35.d0d4b8","order":11,"width":"2","height":"1","label":"p03","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"p03","x":751.9375343322754,"y":835.1075668334961,"wires":[]},{"id":"73b249b1.7d0598","type":"ui_led","z":"933a16d.ccbd1e8","group":"b63bab35.d0d4b8","order":12,"width":"2","height":"1","label":"p04","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"p04","x":754.9375343322754,"y":874.1075668334961,"wires":[]},{"id":"7eff6c49.b78734","type":"ui_led","z":"933a16d.ccbd1e8","group":"b63bab35.d0d4b8","order":13,"width":"2","height":"1","label":"p05","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"p05","x":753.9375343322754,"y":919.1075668334961,"wires":[]},{"id":"9ba23782.4dbe38","type":"ui_text","z":"933a16d.ccbd1e8","group":"b63bab35.d0d4b8","order":6,"width":0,"height":0,"name":"","label":"받음","format":"{{msg.payload}}","layout":"row-spread","x":296.07994079589844,"y":110.81250762939453,"wires":[]},{"id":"44702764.04b0f8","type":"string","z":"933a16d.ccbd1e8","name":"","methods":[],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":297.0173645019531,"y":150.0104217529297,"wires":[["2decf7be.8c1738"]]},{"id":"78821dcd.744344","type":"ui_switch","z":"933a16d.ccbd1e8","name":"","label":"P40","tooltip":"","group":"b63bab35.d0d4b8","order":4,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":135,"y":291,"wires":[["ba8a7869.7a7ce8"]]},{"id":"260f3d69.ccbc02","type":"ui_switch","z":"933a16d.ccbd1e8","name":"","label":"P41","tooltip":"","group":"b63bab35.d0d4b8","order":3,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":134.99999237060547,"y":344.00002098083496,"wires":[["f1d99a4d.811b68"]]},{"id":"95f01597.6444d8","type":"ui_switch","z":"933a16d.ccbd1e8","name":"","label":"P42","tooltip":"","group":"b63bab35.d0d4b8","order":2,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":132.99999237060547,"y":404.00002098083496,"wires":[["e446d95e.45f718"]]},{"id":"ef4857b.08f42a8","type":"ui_switch","z":"933a16d.ccbd1e8","name":"","label":"P43","tooltip":"","group":"b63bab35.d0d4b8","order":1,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":131.99999237060547,"y":455.00002098083496,"wires":[["52a65219.83128c"]]},{"id":"cc6e38af.095d48","type":"comment","z":"933a16d.ccbd1e8","name":"node-red ui에서 plc제어 사이트 참조","info":"https://www.youtube.com/watch?v=-kPMVnDh1Oc&feature=youtu.be","x":222.0521125793457,"y":231.7395601272583,"wires":[]},{"id":"854b6090.1e2ce","type":"comment","z":"933a16d.ccbd1e8","name":"MongoDB를 이용한 PLC 제어 6-3-1-2","info":"","x":190,"y":60,"wires":[]},{"id":"a8a9adc3.70f8f","type":"function","z":"933a16d.ccbd1e8","name":"encorder","func":"var num=msg.payload.out[0]+msg.payload.out[1]*2+msg.payload.out[2]*4+msg.payload.out[3]*8;\nmsg.payload='\\u0005'+\"00WSS0104%PW4000\"+num.toString(16)+'\\u0004';\nreturn msg;","outputs":1,"noerr":0,"x":518.0521125793457,"y":588.7395601272583,"wires":[["853df4c5.97a688","e18f3eb.d98b9c"]]},{"id":"7fc926a4.d83138","type":"mongodb2 in","z":"933a16d.ccbd1e8","service":"_ext_","configNode":"f685b077.74efe","name":"dbTest Data","collection":"","operation":"","x":497.0521125793457,"y":291.7395601272583,"wires":[["27df52c0.d44c1e"]]},{"id":"f1d99a4d.811b68","type":"function","z":"933a16d.ccbd1e8","name":"findOneAndUpdate","func":"var newMsg = {};\nnewMsg.collection = 'plc';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'chip' : 'a'}, {$set:{ 'out.1':msg.payload}} ];\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":301.0521125793457,"y":343.7395601272583,"wires":[["7fc926a4.d83138"]]},{"id":"ba8a7869.7a7ce8","type":"function","z":"933a16d.ccbd1e8","name":"findOneAndUpdate","func":"var newMsg = {};\nnewMsg.collection = 'plc';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'chip' : 'a'}, {$set:{ 'out.0':msg.payload}} ];\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":300.0521125793457,"y":291.7395601272583,"wires":[["7fc926a4.d83138"]]},{"id":"e446d95e.45f718","type":"function","z":"933a16d.ccbd1e8","name":"findOneAndUpdate","func":"var newMsg = {};\nnewMsg.collection = 'plc';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'chip' : 'a'}, {$set:{ 'out.2':msg.payload}} ];\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":300.0521125793457,"y":402.7395601272583,"wires":[["7fc926a4.d83138"]]},{"id":"52a65219.83128c","type":"function","z":"933a16d.ccbd1e8","name":"findOneAndUpdate","func":"var newMsg = {};\nnewMsg.collection = 'plc';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'chip' : 'a'}, {$set:{ 'out.3':msg.payload}} ];\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":301.0521125793457,"y":454.7395601272583,"wires":[["7fc926a4.d83138"]]},{"id":"876ad063.8c95b","type":"function","z":"933a16d.ccbd1e8","name":"findOne","func":"var newMsg = {};\nnewMsg.collection = 'plc';\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = { 'chip' : msg.payload.value.chip};\n//newMsg.payload    = { 'chip' : msg.payload};\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":200.0521125793457,"y":588.7395601272583,"wires":[["18fb419b.5656fe"]]},{"id":"18fb419b.5656fe","type":"mongodb2 in","z":"933a16d.ccbd1e8","service":"_ext_","configNode":"f685b077.74efe","name":"dbTest Data","collection":"","operation":"","x":350.0521125793457,"y":588.7395601272583,"wires":[["a8a9adc3.70f8f"]]},{"id":"db245289.8ff52","type":"comment","z":"933a16d.ccbd1e8","name":"monogoDB 기초함수 사이트 참조","info":"https://youtu.be/JfJ8t_6Eq0k","x":532.0521125793457,"y":231.7395601272583,"wires":[]},{"id":"235ab9ea.b28386","type":"ui_button","z":"933a16d.ccbd1e8","name":"","group":"b63bab35.d0d4b8","order":7,"width":0,"height":0,"passthru":false,"label":"읽기","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":388.0521125793457,"y":648.7395601272583,"wires":[["5b7bc2ea.0e8b1c"]]},{"id":"5b7bc2ea.0e8b1c","type":"function","z":"933a16d.ccbd1e8","name":"read plc","func":"msg.payload='\\u0005'+'00RSS0104%PW0'+'\\u0004';\nreturn msg;","outputs":1,"noerr":0,"x":528.0521125793457,"y":648.7395601272583,"wires":[["e18f3eb.d98b9c"]]},{"id":"27df52c0.d44c1e","type":"link out","z":"933a16d.ccbd1e8","name":"","links":["934f51e0.44b05"],"x":617.0521125793457,"y":291.7395601272583,"wires":[]},{"id":"934f51e0.44b05","type":"link in","z":"933a16d.ccbd1e8","name":"","links":["27df52c0.d44c1e"],"x":98.0521125793457,"y":588.7395601272583,"wires":[["876ad063.8c95b"]]},{"id":"853df4c5.97a688","type":"ui_text","z":"933a16d.ccbd1e8","group":"b63bab35.d0d4b8","order":5,"width":0,"height":0,"name":"","label":"Transmitt","format":"{{msg.payload}}","layout":"row-spread","x":675.0521125793457,"y":548.7395601272583,"wires":[]},{"id":"e18f3eb.d98b9c","type":"mqtt out","z":"933a16d.ccbd1e8","name":"","topic":"/kdi/inTopic","qos":"","retain":"","broker":"7b749693.c02d08","x":688.0521125793457,"y":588.7395601272583,"wires":[]},{"id":"1454b0eb.b3bbdf","type":"mongodb2 in","z":"933a16d.ccbd1e8","service":"_ext_","configNode":"f685b077.74efe","name":"dbTest Data","collection":"","operation":"","x":790,"y":147,"wires":[["eb23d161.34049"]]},{"id":"2676133d.249bec","type":"function","z":"933a16d.ccbd1e8","name":"findOneUpdate","func":"var out=[];\nout.push({payload:msg.payload.charAt(5)});\nout.push({payload:msg.payload.charAt(4)});\nout.push({payload:msg.payload.charAt(3)});\nout.push({payload:msg.payload.charAt(2)});\nout.push({payload:msg.payload.charAt(1)});\nout.push({payload:msg.payload.charAt(0)});\nvar newMsg = {};\nnewMsg.collection = 'plc';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'chip' : 'a'}, {$set:{ 'in.0':parseInt(out[0].payload),'in.1':parseInt(out[1].payload),'in.2':parseInt(out[2].payload),\n    'in.3':parseInt(out[3].payload),'in.4':parseInt(out[4].payload),'in.5':parseInt(out[5].payload) }} ];\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":620,"y":147,"wires":[["1454b0eb.b3bbdf"]]},{"id":"e2c10fe6.0f42d","type":"function","z":"933a16d.ccbd1e8","name":"findOne","func":"var newMsg = {};\nnewMsg.collection = 'plc';\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = { 'chip' : msg.payload.value.chip};\n//newMsg.payload    = { 'chip' : msg.payload};\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":200,"y":814,"wires":[["b795e779.3be988"]]},{"id":"b795e779.3be988","type":"mongodb2 in","z":"933a16d.ccbd1e8","service":"_ext_","configNode":"f685b077.74efe","name":"dbTest Data","collection":"","operation":"","x":350,"y":814,"wires":[["42f82d53.a330c4"]]},{"id":"42f82d53.a330c4","type":"function","z":"933a16d.ccbd1e8","name":"이진수","func":"msg.payload=msg.payload.in[5].toString()+msg.payload.in[4].toString()+msg.payload.in[3].toString()+msg.payload.in[2].toString()+msg.payload.in[1].toString()+msg.payload.in[0].toString();\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":815,"wires":[["fdd53705.54ca48"]]},{"id":"7548282f.5f4d88","type":"link in","z":"933a16d.ccbd1e8","name":"","links":["eb23d161.34049"],"x":95,"y":814,"wires":[["e2c10fe6.0f42d"]]},{"id":"eb23d161.34049","type":"link out","z":"933a16d.ccbd1e8","name":"","links":["7548282f.5f4d88"],"x":901,"y":148,"wires":[]},{"id":"190c5281.3f7d8d","type":"inject","z":"933a16d.ccbd1e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":700,"wires":[["5b7bc2ea.0e8b1c"]]},{"id":"f7efb176.f14a6","type":"mqtt-broker","z":"","name":"mqtt-dashboard.com","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b63bab35.d0d4b8","type":"ui_group","z":"","name":"Test","tab":"377e1c70.9d9954","order":1,"disp":true,"width":"8","collapse":false},{"id":"f685b077.74efe","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/admin","name":"admin","options":"","parallelism":""},{"id":"7b749693.c02d08","type":"mqtt-broker","z":"","name":"mqtt-dashboard.com","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"377e1c70.9d9954","type":"ui_tab","z":"","name":"Test","icon":"dashboard","order":7,"disabled":false,"hidden":false}]