1-18_raspi_Dimini/node_raspi_D1mini.txt
[{"id":"d3501a85.7bcaf8","type":"mqtt in","z":"87a84e1b.f79b2","name":"","topic":"outTopic","qos":"2","broker":"50eaf8f2.37c588","x":82,"y":69,"wires":[["95532a1e.33d388","9a13357a.6d84a8"]]},{"id":"95532a1e.33d388","type":"debug","z":"87a84e1b.f79b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":253,"y":70,"wires":[]},{"id":"9a13357a.6d84a8","type":"ui_text","z":"87a84e1b.f79b2","group":"56b13ffb.7dbec","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":245,"y":123,"wires":[]},{"id":"50eaf8f2.37c588","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"56b13ffb.7dbec","type":"ui_group","name":"Group 1","tab":"2602324b.b9628e","order":1,"disp":true,"width":6},{"id":"2602324b.b9628e","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]