1-40-2 ESP32-CAM/1-40-2 node-red.txt
[
    {
        "id": "a5e5dabe4b98a935",
        "type": "tab",
        "label": "플로우 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "703d75e48e89a8e6",
        "type": "mqtt in",
        "z": "a5e5dabe4b98a935",
        "name": "",
        "topic": "out",
        "qos": "0",
        "datatype": "auto",
        "broker": "f15d66b3.c7edf8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 260,
        "wires": [
            [
                "550d0a71567a9725",
                "d7bfa1d60288af6f"
            ]
        ]
    },
    {
        "id": "2e2f661a9827a611",
        "type": "mqtt out",
        "z": "a5e5dabe4b98a935",
        "name": "",
        "topic": "in",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f15d66b3.c7edf8",
        "x": 890,
        "y": 180,
        "wires": []
    },
    {
        "id": "550d0a71567a9725",
        "type": "image",
        "z": "a5e5dabe4b98a935",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 500,
        "y": 260,
        "wires": []
    },
    {
        "id": "0caad8e3a3a6a602",
        "type": "ui_switch",
        "z": "a5e5dabe4b98a935",
        "name": "on/off",
        "label": "동작스위치",
        "tooltip": "",
        "group": "63cfe05febb27b17",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "test",
        "x": 230,
        "y": 180,
        "wires": [
            [
                "7ede45e207915379"
            ]
        ]
    },
    {
        "id": "0c1a588b4e0b6a58",
        "type": "trigger",
        "z": "a5e5dabe4b98a935",
        "name": "",
        "op1": "{\"pic\":\"1\"}",
        "op2": "0",
        "op1type": "json",
        "op2type": "str",
        "duration": "-3",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 560,
        "y": 180,
        "wires": [
            [
                "777a9717579907c7"
            ]
        ]
    },
    {
        "id": "7ede45e207915379",
        "type": "function",
        "z": "a5e5dabe4b98a935",
        "name": "",
        "func": "global.set(\"auto\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 180,
        "wires": [
            [
                "0c1a588b4e0b6a58"
            ]
        ]
    },
    {
        "id": "777a9717579907c7",
        "type": "function",
        "z": "a5e5dabe4b98a935",
        "name": "",
        "func": "var auto=global.get(\"auto\");\nif(auto==1)\n    return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 180,
        "wires": [
            [
                "2e2f661a9827a611"
            ]
        ]
    },
    {
        "id": "76bb69a052932fcf",
        "type": "inject",
        "z": "a5e5dabe4b98a935",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"pic\":\"1\"}",
        "payloadType": "json",
        "x": 250,
        "y": 120,
        "wires": [
            [
                "2e2f661a9827a611"
            ]
        ]
    },
    {
        "id": "d7bfa1d60288af6f",
        "type": "base64",
        "z": "a5e5dabe4b98a935",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 480,
        "y": 320,
        "wires": [
            [
                "207f64206b93b359"
            ]
        ]
    },
    {
        "id": "207f64206b93b359",
        "type": "ui_template",
        "z": "a5e5dabe4b98a935",
        "group": "63cfe05febb27b17",
        "name": "from 라즈베리",
        "order": 1,
        "width": 6,
        "height": 6,
        "format": "<img alt=\"HTTP Snap\" src=\"data:image/jpg;base64,{{msg.payload}}\" />\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 720,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "f15d66b3.c7edf8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "a3aq8t057uz8il-ats.iot.us-east-2.amazonaws.com",
        "port": "8883",
        "tls": "509a45a9.089bbc",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "63cfe05febb27b17",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "b8d4c5bc47a034a0",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "509a45a9.089bbc",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "f63dd04081758207017b3f5a6fe5d533d524c6a90792adf2780779cb64a626d8-certificate.pem.crt",
        "keyname": "f63dd04081758207017b3f5a6fe5d533d524c6a90792adf2780779cb64a626d8-private.pem.key",
        "caname": "AmazonRootCA1.pem",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "b8d4c5bc47a034a0",
        "type": "ui_tab",
        "name": "cameras",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    }
]