1-26-4-9 Interner PLC Mqtt with Mac Address/1-26-4-9 node red program.txt
[{"id":"b663a99f.0210d8","type":"mqtt in","z":"84e16ece.57507","name":"","topic":"/kdi/outTopic","qos":"0","datatype":"auto","broker":"f7efb176.f14a6","x":170,"y":182,"wires":[["6b9cb660.bdce98"]]},{"id":"94a7bb36.60adf8","type":"ui_led","z":"84e16ece.57507","group":"b63bab35.d0d4b8","order":8,"width":"2","height":"1","label":"p00","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"p00","x":769.9826431274414,"y":746.659707069397,"wires":[]},{"id":"a74d1f0b.6aeca","type":"function","z":"84e16ece.57507","name":"2진수로정리","func":"var hex=msg.payload.substring(12,14);\nvar dec16=parseInt(hex, 16);\nvar dec=dec16.toString(10);\nvar bin = parseInt(dec).toString(2);\nbin=\"000000\"+bin;\nbin = bin.slice(-6);\nmsg.payload=bin;\n\n//dec = msg.payload.charAt(12);\n//var bin1 = parseInt(dec).toString(2);\n//bin1=\"0000\"+bin1;\n//bin1 = bin1.slice(-4);\n\n//msg.payload=bin1+bin;\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":183,"wires":[["3f850341.b6445c"]]},{"id":"617f50a5.ca5b3","type":"function","z":"84e16ece.57507","name":"decoder","func":"var out=[];\nout.push({payload:msg.payload.charAt(5)});\nout.push({payload:msg.payload.charAt(4)});\nout.push({payload:msg.payload.charAt(3)});\nout.push({payload:msg.payload.charAt(2)});\nout.push({payload:msg.payload.charAt(1)});\nout.push({payload:msg.payload.charAt(0)});\nreturn [out[0],out[1],out[2],out[3],out[4],out[5]];","outputs":6,"noerr":0,"x":640.0347213745117,"y":847.6596031188965,"wires":[["94a7bb36.60adf8"],["a5cf9cc8.55913"],["e85a8459.ebfa08"],["fadaef6e.a4c71"],["5c0e169d.c0db88"],["b8aa6e3d.44def"]]},{"id":"a5cf9cc8.55913","type":"ui_led","z":"84e16ece.57507","group":"b63bab35.d0d4b8","order":9,"width":"2","height":"1","label":"p01","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"p01","x":771.9201774597168,"y":788.7672433853149,"wires":[]},{"id":"e85a8459.ebfa08","type":"ui_led","z":"84e16ece.57507","group":"b63bab35.d0d4b8","order":10,"width":"2","height":"1","label":"p02","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"p02","x":771.9201774597168,"y":828.7672433853149,"wires":[]},{"id":"fadaef6e.a4c71","type":"ui_led","z":"84e16ece.57507","group":"b63bab35.d0d4b8","order":11,"width":"2","height":"1","label":"p03","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"p03","x":771.9201774597168,"y":867.7672739028931,"wires":[]},{"id":"5c0e169d.c0db88","type":"ui_led","z":"84e16ece.57507","group":"b63bab35.d0d4b8","order":12,"width":"2","height":"1","label":"p04","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"p04","x":774.9201774597168,"y":906.7672739028931,"wires":[]},{"id":"b8aa6e3d.44def","type":"ui_led","z":"84e16ece.57507","group":"b63bab35.d0d4b8","order":13,"width":"2","height":"1","label":"p05","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"p05","x":773.9201774597168,"y":951.7672739028931,"wires":[]},{"id":"e322400f.29736","type":"ui_text","z":"84e16ece.57507","group":"b63bab35.d0d4b8","order":6,"width":0,"height":0,"name":"","label":"받음","format":"{{msg.payload}}","layout":"row-spread","x":950,"y":120,"wires":[]},{"id":"6b9cb660.bdce98","type":"string","z":"84e16ece.57507","name":"","methods":[],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":317.00000762939453,"y":182.67012882232666,"wires":[["4853c76a.e005a8"]]},{"id":"1660913e.a5e58f","type":"ui_switch","z":"84e16ece.57507","name":"","label":"P40","tooltip":"","group":"b63bab35.d0d4b8","order":4,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":154.9826431274414,"y":323.659707069397,"wires":[["498f2f9.75091d"]]},{"id":"210734ba.d552fc","type":"ui_switch","z":"84e16ece.57507","name":"","label":"P41","tooltip":"","group":"b63bab35.d0d4b8","order":3,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":154.98263549804688,"y":376.65972805023193,"wires":[["8b91572.359bea8"]]},{"id":"9de35955.6beb78","type":"ui_switch","z":"84e16ece.57507","name":"","label":"P42","tooltip":"","group":"b63bab35.d0d4b8","order":2,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":152.98263549804688,"y":436.65972805023193,"wires":[["fb0436fb.eaf948"]]},{"id":"fc3d7c81.b660f","type":"ui_switch","z":"84e16ece.57507","name":"","label":"P43","tooltip":"","group":"b63bab35.d0d4b8","order":1,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":151.98263549804688,"y":487.65972805023193,"wires":[["eec32e22.d0687"]]},{"id":"953353ea.455a8","type":"comment","z":"84e16ece.57507","name":"node-red ui에서 plc제어 사이트 참조","info":"https://www.youtube.com/watch?v=-kPMVnDh1Oc&feature=youtu.be","x":242.0347557067871,"y":264.3992671966553,"wires":[]},{"id":"1d074ae8.f59af5","type":"comment","z":"84e16ece.57507","name":"MongoDB를 이용한 PLC 제어 1.26.4.9 : Mac Adderss 에 의한제어","info":"","x":330,"y":40,"wires":[]},{"id":"dba764a7.4acc08","type":"function","z":"84e16ece.57507","name":"encorder","func":"var num=msg.payload.out[0]+msg.payload.out[1]*2+msg.payload.out[2]*4+msg.payload.out[3]*8;\nmsg.payload=\"{chip:'\"+msg.payload.chip+\"', prt:'\"+'\\u0005'+\"00WSS0104%PW4000\"+num.toString(16)+'\\u0004'+\"'}\";\nreturn msg;","outputs":1,"noerr":0,"x":538.0347557067871,"y":621.3992671966553,"wires":[["e564d1b3.4718a","97209afe.865f38"]]},{"id":"6b81035a.d71bdc","type":"mongodb2 in","z":"84e16ece.57507","service":"_ext_","configNode":"f685b077.74efe","name":"dbTest Data","collection":"","operation":"","x":517.0347557067871,"y":324.3992671966553,"wires":[["31b871fb.152c9e"]]},{"id":"8b91572.359bea8","type":"function","z":"84e16ece.57507","name":"findOneAndUpdate","func":"var chip=global.get(\"chip\");\nvar newMsg = {};\nnewMsg.collection = 'plc';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'chip' : chip}, {$set:{ 'out.1':msg.payload}} ];\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":321.0347557067871,"y":376.3992671966553,"wires":[["6b81035a.d71bdc"]]},{"id":"498f2f9.75091d","type":"function","z":"84e16ece.57507","name":"findOneAndUpdate","func":"var chip=global.get(\"chip\");\nvar newMsg = {};\nnewMsg.collection = 'plc';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'chip' : chip}, {$set:{ 'out.0':msg.payload}} ];\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":320.0347557067871,"y":324.3992671966553,"wires":[["6b81035a.d71bdc"]]},{"id":"fb0436fb.eaf948","type":"function","z":"84e16ece.57507","name":"findOneAndUpdate","func":"var chip=global.get(\"chip\");\nvar newMsg = {};\nnewMsg.collection = 'plc';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'chip' : chip}, {$set:{ 'out.2':msg.payload}} ];\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":320.0347557067871,"y":435.3992671966553,"wires":[["6b81035a.d71bdc"]]},{"id":"eec32e22.d0687","type":"function","z":"84e16ece.57507","name":"findOneAndUpdate","func":"var chip=global.get(\"chip\");\nvar newMsg = {};\nnewMsg.collection = 'plc';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'chip' : chip}, {$set:{ 'out.3':msg.payload}} ];\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":321.0347557067871,"y":487.3992671966553,"wires":[["6b81035a.d71bdc"]]},{"id":"51c41c88.b458f4","type":"function","z":"84e16ece.57507","name":"findOne","func":"var newMsg = {};\nnewMsg.collection = 'plc';\nnewMsg.operation  = 'findOne';\n//ewMsg.payload    = { 'chip' : 'a'};\nnewMsg.payload    = { 'chip' : msg.payload.value.chip};\n//newMsg.payload    = { 'chip' : msg.payload};\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":220.0347557067871,"y":621.3992671966553,"wires":[["ea80faab.24ae28"]]},{"id":"ea80faab.24ae28","type":"mongodb2 in","z":"84e16ece.57507","service":"_ext_","configNode":"f685b077.74efe","name":"dbTest Data","collection":"","operation":"","x":370.0347557067871,"y":621.3992671966553,"wires":[["dba764a7.4acc08"]]},{"id":"3d1e530d.78b30c","type":"comment","z":"84e16ece.57507","name":"monogoDB 기초함수 사이트 참조","info":"https://youtu.be/JfJ8t_6Eq0k","x":552.0347557067871,"y":264.3992671966553,"wires":[]},{"id":"b788eec0.74d05","type":"ui_button","z":"84e16ece.57507","name":"","group":"b63bab35.d0d4b8","order":7,"width":0,"height":0,"passthru":false,"label":"읽기","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":408.0347557067871,"y":681.3992671966553,"wires":[["7b138be3.8fd304"]]},{"id":"7b138be3.8fd304","type":"function","z":"84e16ece.57507","name":"read plc","func":"var chip=global.get(\"chip\");\nmsg.payload=\"{chip:'\"+chip+\"', prt:'\"+'\\u0005'+\"00RSS0104%PW0\"+'\\u0004'+\"'}\";\nreturn msg;","outputs":1,"noerr":0,"x":548.0347557067871,"y":681.3992671966553,"wires":[["97209afe.865f38"]]},{"id":"31b871fb.152c9e","type":"link out","z":"84e16ece.57507","name":"","links":["d4a8090.b5750f8"],"x":637.0347557067871,"y":324.3992671966553,"wires":[]},{"id":"d4a8090.b5750f8","type":"link in","z":"84e16ece.57507","name":"","links":["31b871fb.152c9e"],"x":118.03475570678711,"y":621.3992671966553,"wires":[["51c41c88.b458f4"]]},{"id":"e564d1b3.4718a","type":"ui_text","z":"84e16ece.57507","group":"b63bab35.d0d4b8","order":5,"width":0,"height":0,"name":"","label":"Transmitt","format":"{{msg.payload}}","layout":"row-spread","x":695.0347557067871,"y":581.3992671966553,"wires":[]},{"id":"97209afe.865f38","type":"mqtt out","z":"84e16ece.57507","name":"","topic":"/kdi/inTopic","qos":"","retain":"","broker":"7b749693.c02d08","x":708.0347557067871,"y":621.3992671966553,"wires":[]},{"id":"8df32f6.2da23d","type":"mongodb2 in","z":"84e16ece.57507","service":"_ext_","configNode":"f685b077.74efe","name":"dbTest Data","collection":"","operation":"","x":1312.1145935058594,"y":182.89236736297607,"wires":[["2e386bbb.73cf64"]]},{"id":"3f850341.b6445c","type":"function","z":"84e16ece.57507","name":"findOneUpdate","func":"var out=[];\nout.push({payload:msg.payload.charAt(5)});\nout.push({payload:msg.payload.charAt(4)});\nout.push({payload:msg.payload.charAt(3)});\nout.push({payload:msg.payload.charAt(2)});\nout.push({payload:msg.payload.charAt(1)});\nout.push({payload:msg.payload.charAt(0)});\nvar newMsg = {};\nnewMsg.collection = 'plc';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'chip' : 'a'}, {$set:{ 'in.0':parseInt(out[0].payload),'in.1':parseInt(out[1].payload),'in.2':parseInt(out[2].payload),\n    'in.3':parseInt(out[3].payload),'in.4':parseInt(out[4].payload),'in.5':parseInt(out[5].payload) }} ];\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":1142.1145935058594,"y":182.89236736297607,"wires":[["8df32f6.2da23d"]]},{"id":"ead8ebbb.1aaa68","type":"function","z":"84e16ece.57507","name":"findOne","func":"var newMsg = {};\nnewMsg.collection = 'plc';\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = { 'chip' : msg.payload.value.chip};\n//newMsg.payload    = { 'chip' : msg.payload};\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":219.9826431274414,"y":846.659707069397,"wires":[["24d2e1e3.f9f42e"]]},{"id":"24d2e1e3.f9f42e","type":"mongodb2 in","z":"84e16ece.57507","service":"_ext_","configNode":"f685b077.74efe","name":"dbTest Data","collection":"","operation":"","x":369.9826431274414,"y":846.659707069397,"wires":[["e948464e.9b0de8"]]},{"id":"e948464e.9b0de8","type":"function","z":"84e16ece.57507","name":"이진수","func":"msg.payload=msg.payload.in[5].toString()+msg.payload.in[4].toString()+msg.payload.in[3].toString()+msg.payload.in[2].toString()+msg.payload.in[1].toString()+msg.payload.in[0].toString();\nreturn msg;","outputs":1,"noerr":0,"x":509.9826431274414,"y":847.659707069397,"wires":[["617f50a5.ca5b3"]]},{"id":"1a2157b0.5d0c88","type":"link in","z":"84e16ece.57507","name":"","links":["2e386bbb.73cf64"],"x":114.9826431274414,"y":846.659707069397,"wires":[["ead8ebbb.1aaa68"]]},{"id":"2e386bbb.73cf64","type":"link out","z":"84e16ece.57507","name":"","links":["1a2157b0.5d0c88"],"x":1423.1145935058594,"y":183.89236736297607,"wires":[]},{"id":"51893acb.ceb074","type":"inject","z":"84e16ece.57507","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":379.9826431274414,"y":732.659707069397,"wires":[["7b138be3.8fd304"]]},{"id":"bf0fb981.be9eb8","type":"inject","z":"84e16ece.57507","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":159.9826431274414,"y":692.659707069397,"wires":[["51c41c88.b458f4"]]},{"id":"6863fee4.63e24","type":"ui_text_input","z":"84e16ece.57507","name":"","label":"chip no","tooltip":"","group":"b63bab35.d0d4b8","order":26,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":164,"y":90,"wires":[["9dfbba45.b8c6a8"]]},{"id":"9dfbba45.b8c6a8","type":"function","z":"84e16ece.57507","name":"","func":"global.set(\"chip\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":294,"y":90,"wires":[[]]},{"id":"63943f00.1fb17","type":"json","z":"84e16ece.57507","name":"","property":"payload","action":"","pretty":false,"x":677,"y":183,"wires":[["a114ad70.3e1f2"]]},{"id":"4853c76a.e005a8","type":"function","z":"84e16ece.57507","name":"아스키31 이하 공란으로","func":"var msg = {payload:msg.payload.replace(/[^\\x0F-\\x7F]/g, \" \")};\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":182,"wires":[["63943f00.1fb17"]]},{"id":"a114ad70.3e1f2","type":"function","z":"84e16ece.57507","name":"plc 응답","func":"var chip=global.get(\"chip\");\nvar v1=String(chip);\nvar v2=String(msg.payload.chip);\nif(v1==v2) {\n    msg.payload=msg.payload.prt;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":807,"y":183,"wires":[["a74d1f0b.6aeca","e322400f.29736"]]},{"id":"bf268b40.5203f8","type":"inject","z":"84e16ece.57507","name":"","topic":"","payload":"{\"chip\":\"a\",\"prt\":\"123\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":690,"y":420,"wires":[["20d1a4a2.e2b8bc"]]},{"id":"20d1a4a2.e2b8bc","type":"mqtt out","z":"84e16ece.57507","name":"","topic":"/kdi/outTopic","qos":"","retain":"","broker":"7b749693.c02d08","x":830,"y":420,"wires":[]},{"id":"f7efb176.f14a6","type":"mqtt-broker","z":"","name":"mqtt-dashboard.com","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b63bab35.d0d4b8","type":"ui_group","z":"","name":"Test","tab":"377e1c70.9d9954","order":1,"disp":true,"width":"8","collapse":false},{"id":"f685b077.74efe","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/admin","name":"admin","options":"","parallelism":""},{"id":"7b749693.c02d08","type":"mqtt-broker","z":"","name":"mqtt-dashboard.com","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"377e1c70.9d9954","type":"ui_tab","z":"","name":"Test","icon":"dashboard","order":7,"disabled":false,"hidden":false}]