1-17-1_RGB_Led_mqtt/1-17-1 node-red.txt
[{"id":"e4feecfe.7b53d","type":"mqtt out","z":"ee7dbdec.5db01","name":"","topic":"/kdi/outLight","qos":"","retain":"","broker":"981efa4b.9572b8","x":320,"y":78,"wires":[]},{"id":"61f0d903.acf488","type":"mqtt in","z":"ee7dbdec.5db01","name":"","topic":"/kdi/outLight","qos":"0","broker":"981efa4b.9572b8","x":122,"y":158,"wires":[["2c259678.0a2fea"]]},{"id":"fc10749b.d60858","type":"ui_colour_picker","z":"ee7dbdec.5db01","name":"","label":"Control RGB Led","group":"579d1179.2db9b","format":"hex","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showAlpha":false,"showLightness":true,"dynOutput":"false","order":0,"width":0,"height":0,"passthru":true,"topic":"","x":140,"y":78,"wires":[["e4feecfe.7b53d"]]},{"id":"2c259678.0a2fea","type":"ui_text","z":"ee7dbdec.5db01","group":"579d1179.2db9b","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":288,"y":158,"wires":[]},{"id":"981efa4b.9572b8","type":"mqtt-broker","z":"","name":"mqtt-dashboard.com","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"579d1179.2db9b","type":"ui_group","name":"Group 1","tab":"5cf3ddee.7a7374","order":1,"disp":true,"width":6},{"id":"5cf3ddee.7a7374","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]